flows_hamburg.json
[{"id":"a75e2055.a31ca","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"bb18a7c8.dc0378","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8e1c0fd1.27e96","type":"tab","label":"Temperatures","disabled":true,"info":""},{"id":"73321b5c.f02f84","type":"tab","label":"Sandbox","disabled":true,"info":""},{"id":"2881f2d8.9385ce","type":"ui_tab","z":0,"name":"Home","icon":"dashboard"},{"id":"b7cf4dd7.b3cfd","type":"ui_group","z":0,"name":"Default","tab":"2881f2d8.9385ce","disp":true,"width":"6","collapse":false},{"id":"692a98ca.4cf9e8","type":"ui_base","z":0,"theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":3,"cy":3,"px":0,"py":0}}},{"id":"c9b0c558.78d828","type":"ui_tab","z":0,"name":"Temperature Graph","icon":"dashboard","order":2},{"id":"ccaa92e3.5df75","type":"ui_group","z":0,"name":"Group 2","tab":"2881f2d8.9385ce","order":2,"disp":true,"width":6},{"id":"bbc17823.288368","type":"ui_group","z":0,"name":"Group 3","tab":"2881f2d8.9385ce","order":3,"disp":true,"width":6},{"id":"bb784622.ecb1d8","type":"ui_group","z":0,"name":"Group 4","tab":"2881f2d8.9385ce","order":4,"disp":true,"width":6},{"id":"b8e8b6b6.904aa8","type":"ui_tab","z":0,"name":"Tab 3","icon":"dashboard","order":3},{"id":"625d8dd.0378674","type":"ui_group","z":0,"name":"Group 1","tab":"c9b0c558.78d828","order":1,"disp":true,"width":"18","collapse":false},{"id":"e8b3a3ac.dc561","type":"knx-controller","z":0,"ipAddr":"224.0.23.12","ipPort":"3671"},{"id":"dc5df6c5.18acb8","type":"ets-csv-export","z":0,"name":"Group Addresses.csv","csv":"\"Group name\",\"Address\",\"Central\",\"Unfiltered\",\"Description\",\"DatapointType\",\"Security\"\n\"0xx\",\"0/-/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"008\",\"0/0/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L008\",\"0/0/1\",\"\",\"\",\"WC Light\",\"DPST-1-1\",\"Auto\"\n\"T008\",\"0/0/2\",\"\",\"\",\"WC Temperature\",\"DPST-9-1\",\"Auto\"\n\"L008?\",\"0/0/3\",\"\",\"\",\"WC Light Status\",\"\",\"Auto\"\n\"T008=\",\"0/0/4\",\"\",\"\",\"WC Temperature Set Point\",\"DPST-9-1\",\"Auto\"\n\"V008\",\"0/0/5\",\"\",\"\",\"WC Radiator Valve\",\"DPST-5-1\",\"Auto\"\n\"T008=?\",\"0/0/6\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"001\",\"0/1/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L001\",\"0/1/0\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"T001\",\"0/1/1\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"L001?\",\"0/1/2\",\"\",\"\",\"\",\"\",\"Auto\"\n\"G001S\",\"0/1/3\",\"\",\"\",\"Gate Start\",\"\",\"Auto\"\n\"G001P\",\"0/1/4\",\"\",\"\",\"Gate Pedestrian\",\"\",\"Auto\"\n\"B001\",\"0/1/5\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"B001?\",\"0/1/6\",\"\",\"\",\"\",\"\",\"Auto\"\n\"T001=\",\"0/1/7\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"V001\",\"0/1/8\",\"\",\"\",\"\",\"DPST-5-1\",\"Auto\"\n\"T001=?\",\"0/1/9\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"002\",\"0/2/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L002\",\"0/2/0\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"L002?\",\"0/2/1\",\"\",\"\",\"\",\"\",\"Auto\"\n\"003\",\"0/3/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"004\",\"0/4/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"T004\",\"0/4/0\",\"\",\"\",\"\",\"\",\"Auto\"\n\"005\",\"0/5/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L005.1\",\"0/5/0\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L005.2\",\"0/5/1\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L005.3\",\"0/5/2\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L005.1~\",\"0/5/3\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L005.2~\",\"0/5/4\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L005.3~\",\"0/5/5\",\"\",\"\",\"\",\"\",\"Auto\"\n\"W005A\",\"0/5/6\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"W005B\",\"0/5/7\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"W005C\",\"0/5/8\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"T005.RDC\",\"0/5/9\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"T005.1Wire\",\"0/5/10\",\"\",\"\",\"\",\"\",\"Auto\"\n\"W005D\",\"0/5/11\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"J005.1\",\"0/5/12\",\"\",\"\",\"Cineman Screen\nUp/Down are inverted!\",\"\",\"Auto\"\n\"J005.2\",\"0/5/13\",\"\",\"\",\"Beamer Lift\",\"\",\"Auto\"\n\"L005.1=\",\"0/5/14\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L005.2=\",\"0/5/15\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L005.3=\",\"0/5/16\",\"\",\"\",\"\",\"\",\"Auto\"\n\"W005A?\",\"0/5/17\",\"\",\"\",\"\",\"\",\"Auto\"\n\"W005B?\",\"0/5/18\",\"\",\"\",\"\",\"\",\"Auto\"\n\"W005C?\",\"0/5/19\",\"\",\"\",\"\",\"\",\"Auto\"\n\"W005D?\",\"0/5/20\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L005.3?\",\"0/5/21\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L005.3=?\",\"0/5/22\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L005.1?\",\"0/5/23\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L005.2?\",\"0/5/24\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L005.1=?\",\"0/5/25\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L005.2=?\",\"0/5/26\",\"\",\"\",\"\",\"\",\"Auto\"\n\"T005=\",\"0/5/27\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"V005.1\",\"0/5/28\",\"\",\"\",\"\",\"DPST-5-1\",\"Auto\"\n\"V005.2\",\"0/5/29\",\"\",\"\",\"\",\"DPST-5-1\",\"Auto\"\n\"V005.3\",\"0/5/30\",\"\",\"\",\"\",\"DPST-5-1\",\"Auto\"\n\"T005=?\",\"0/5/31\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"006\",\"0/6/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L006A\",\"0/6/0\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L006B\",\"0/6/1\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L006C\",\"0/6/2\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L006A~\",\"0/6/3\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L006B~\",\"0/6/4\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L006C~\",\"0/6/5\",\"\",\"\",\"\",\"\",\"Auto\"\n\"P006.Floor\",\"0/6/6\",\"\",\"\",\"\",\"\",\"Auto\"\n\"W006A\",\"0/6/7\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"W006A?\",\"0/6/8\",\"\",\"\",\"\",\"\",\"Auto\"\n\"T006\",\"0/6/9\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"L006A?\",\"0/6/10\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L006B?\",\"0/6/11\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L006C?\",\"0/6/12\",\"\",\"\",\"\",\"\",\"Auto\"\n\"P006.Floor.?\",\"0/6/13\",\"\",\"\",\"\",\"\",\"Auto\"\n\"W006B\",\"0/6/14\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"W006B?\",\"0/6/15\",\"\",\"\",\"\",\"\",\"Auto\"\n\"T006=\",\"0/6/16\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"V006.Radiator\",\"0/6/17\",\"\",\"\",\"\",\"DPST-5-1\",\"Auto\"\n\"V006.Floor\",\"0/6/18\",\"\",\"\",\"\",\"DPST-5-1\",\"Auto\"\n\"T006=?\",\"0/6/19\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"L006.A=\",\"0/6/20\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L006.A=?\",\"0/6/21\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L006.B=\",\"0/6/22\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L006.B=?\",\"0/6/23\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L006.C=\",\"0/6/24\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L006.C=?\",\"0/6/25\",\"\",\"\",\"\",\"\",\"Auto\"\n\"007\",\"0/7/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L007\",\"0/7/0\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"Buitenverlichting Automatisch\",\"0/7/1\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"B007.NE\",\"0/7/2\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"L007?\",\"0/7/3\",\"\",\"\",\"\",\"\",\"Auto\"\n\"B007.SW?\",\"0/7/4\",\"\",\"\",\"\",\"\",\"Auto\"\n\"B007.NE?\",\"0/7/5\",\"\",\"\",\"\",\"\",\"Auto\"\n\"B007.SW\",\"0/7/6\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"V007\",\"0/7/7\",\"\",\"\",\"\",\"DPST-5-1\",\"Auto\"\n\"1xx\",\"1/-/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"100\",\"1/0/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L100\",\"1/0/0\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L100.~\",\"1/0/1\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L100.down\",\"1/0/2\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L100.down~\",\"1/0/3\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L100.up\",\"1/0/4\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L100.up~\",\"1/0/5\",\"\",\"\",\"\",\"\",\"Auto\"\n\"T100\",\"1/0/6\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"L100.?\",\"1/0/7\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L100.down?\",\"1/0/8\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L100.up?\",\"1/0/9\",\"\",\"\",\"\",\"\",\"Auto\"\n\"T100.=\",\"1/0/10\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"V100\",\"1/0/11\",\"\",\"\",\"\",\"DPST-5-1\",\"Auto\"\n\"T100.=?\",\"1/0/12\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"L100.=\",\"1/0/13\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L100.=?\",\"1/0/14\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L100.down=\",\"1/0/15\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L100.down=?\",\"1/0/16\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L100.up=\",\"1/0/17\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L100.up=?\",\"1/0/18\",\"\",\"\",\"\",\"\",\"Auto\"\n\"101\",\"1/1/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L101\",\"1/1/0\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L101~\",\"1/1/1\",\"\",\"\",\"\",\"\",\"Auto\"\n\"W101.L\",\"1/1/2\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"W101.R\",\"1/1/3\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"W101.L ?\",\"1/1/4\",\"\",\"\",\"\",\"\",\"Auto\"\n\"W101.R ?\",\"1/1/5\",\"\",\"\",\"\",\"\",\"Auto\"\n\"T101\",\"1/1/6\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"L101?\",\"1/1/7\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L101=\",\"1/1/8\",\"\",\"\",\"\",\"\",\"Auto\"\n\"V101\",\"1/1/9\",\"\",\"\",\"\",\"DPST-5-1\",\"Auto\"\n\"T101=?\",\"1/1/10\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"L101.=?\",\"1/1/11\",\"\",\"\",\"\",\"\",\"Auto\"\n\"T101=\",\"1/1/12\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"102\",\"1/2/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L102\",\"1/2/0\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L102~\",\"1/2/1\",\"\",\"\",\"\",\"\",\"Auto\"\n\"W102.L\",\"1/2/2\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"W102.R\",\"1/2/3\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"T102\",\"1/2/4\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"W102.L?\",\"1/2/5\",\"\",\"\",\"\",\"\",\"Auto\"\n\"W102.R?\",\"1/2/6\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L102?\",\"1/2/7\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L102=\",\"1/2/8\",\"\",\"\",\"\",\"\",\"Auto\"\n\"V102\",\"1/2/9\",\"\",\"\",\"\",\"DPST-5-1\",\"Auto\"\n\"T102=?\",\"1/2/10\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"L102=?\",\"1/2/11\",\"\",\"\",\"\",\"\",\"Auto\"\n\"T102=\",\"1/2/12\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"103\",\"1/3/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L103\",\"1/3/0\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L103~\",\"1/3/1\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L103.L\",\"1/3/2\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L103.L~\",\"1/3/3\",\"\",\"\",\"\",\"\",\"Auto\"\n\"W103.L\",\"1/3/4\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"W103.R\",\"1/3/5\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"T103\",\"1/3/6\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"W103.L?\",\"1/3/7\",\"\",\"\",\"\",\"\",\"Auto\"\n\"W103.R?\",\"1/3/8\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"L103?\",\"1/3/9\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L103.L?\",\"1/3/10\",\"\",\"\",\"\",\"\",\"Auto\"\n\"T103=\",\"1/3/11\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"V103\",\"1/3/12\",\"\",\"\",\"\",\"DPST-5-1\",\"Auto\"\n\"T103?\",\"1/3/13\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"L103=\",\"1/3/14\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L103=?\",\"1/3/15\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L103.L=\",\"1/3/16\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L103.L=?\",\"1/3/17\",\"\",\"\",\"\",\"\",\"Auto\"\n\"T103=?\",\"1/3/18\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"104\",\"1/4/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L104.A\",\"1/4/0\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L104.B\",\"1/4/1\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L104.C\",\"1/4/2\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L104.D\",\"1/4/3\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L104.A~ Front\",\"1/4/4\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L104.B~ Tub\",\"1/4/5\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L104.C~ Window\",\"1/4/6\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L104.D~ Shower\",\"1/4/7\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L104.A?\",\"1/4/8\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L104.B?\",\"1/4/9\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L104.C?\",\"1/4/10\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L104.D?\",\"1/4/11\",\"\",\"\",\"\",\"\",\"Auto\"\n\"P104.Floor\",\"1/4/12\",\"\",\"\",\"\",\"\",\"Auto\"\n\"T104\",\"1/4/13\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"H104\",\"1/4/14\",\"\",\"\",\"\",\"\",\"Auto\"\n\"T104H\",\"1/4/15\",\"\",\"\",\"\",\"\",\"Auto\"\n\"P104.Floor.?\",\"1/4/16\",\"\",\"\",\"\",\"\",\"Auto\"\n\"T104=\",\"1/4/17\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"V104.Radiator\",\"1/4/18\",\"\",\"\",\"\",\"DPST-5-1\",\"Auto\"\n\"V104.Floor\",\"1/4/19\",\"\",\"\",\"\",\"DPST-5-1\",\"Auto\"\n\"T104=?\",\"1/4/20\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"L104.A.=\",\"1/4/21\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L104.A.=?\",\"1/4/22\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L104.B.=\",\"1/4/23\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L104.B.=?\",\"1/4/24\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L104.C.=\",\"1/4/25\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L104.C=?\",\"1/4/26\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L104.D=\",\"1/4/27\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L104.D=?\",\"1/4/28\",\"\",\"\",\"\",\"\",\"Auto\"\n\"T104=?\",\"1/4/29\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L104.Szene\",\"1/4/30\",\"\",\"\",\"\",\"\",\"Auto\"\n\"2xx\",\"2/-/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"201\",\"2/0/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L201\",\"2/0/0\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"L201?\",\"2/0/1\",\"\",\"\",\"\",\"\",\"Auto\"\n\"202\",\"2/1/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"T202\",\"2/1/0\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"T202=\",\"2/1/1\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"V202\",\"2/1/2\",\"\",\"\",\"\",\"DPST-5-1\",\"Auto\"\n\"T202=?\",\"2/1/4\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"203\",\"2/2/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L203\",\"2/2/0\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"L203?\",\"2/2/1\",\"\",\"\",\"\",\"\",\"Auto\"\n\"T203\",\"2/2/2\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"T203=\",\"2/2/3\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"V203\",\"2/2/4\",\"\",\"\",\"\",\"DPST-5-1\",\"Auto\"\n\"T203=?\",\"2/2/5\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"PD203\",\"2/2/6\",\"\",\"\",\"\",\"\",\"Auto\"\n\"x1x\",\"3/-/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"011\",\"3/0/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"temperature - actual\",\"3/0/0\",\"\",\"\",\"\",\"\",\"Auto\"\n\"012\",\"3/1/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"temperature - actual\",\"3/1/0\",\"\",\"\",\"\",\"\",\"Auto\"\n\"temperatue - actual - 2\",\"3/1/1\",\"\",\"\",\"\",\"\",\"Auto\"\n\"humidity - actual\",\"3/1/2\",\"\",\"\",\"\",\"\",\"Auto\"\n\"test\",\"3/2/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"heizung stellwert even\",\"3/2/0\",\"\",\"\",\"\",\"\",\"Auto\"\n\"heizung stellwert odd\",\"3/2/1\",\"\",\"\",\"\",\"\",\"Auto\"\n\"Global\",\"7/-/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"data\",\"7/0/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"time < wiregate\",\"7/0/0\",\"\",\"\",\"\",\"\",\"Auto\"\n\"date < wiregate\",\"7/0/1\",\"\",\"\",\"\",\"\",\"Auto\"\n\"heating\",\"7/1/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"Mode-2xx\",\"7/1/4\",\"\",\"\",\"\",\"\",\"Auto\"\n\"Mode-1xx\",\"7/1/5\",\"\",\"\",\"\",\"\",\"Auto\"\n\"Mode-104-radiator\",\"7/1/6\",\"\",\"\",\"\",\"\",\"Auto\"\n\"Mode-104--floor\",\"7/1/7\",\"\",\"\",\"\",\"\",\"Auto\"\n\"Mode-006-radiator\",\"7/1/8\",\"\",\"\",\"\",\"\",\"Auto\"\n\"Mode-006-floor\",\"7/1/9\",\"\",\"\",\"\",\"\",\"Auto\"\n\"Mode-005\",\"7/1/10\",\"\",\"\",\"\",\"\",\"Auto\"\n\"Mode-0xx\",\"7/1/11\",\"\",\"\",\"\",\"\",\"Auto\"\n\"test\",\"7/2/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"test1\",\"7/2/0\",\"\",\"\",\"\",\"\",\"Auto\"\n\"test2\",\"7/2/1\",\"\",\"\",\"\",\"\",\"Auto\"\n\"test3\",\"7/2/2\",\"\",\"\",\"\",\"\",\"Auto\"\n\"test4\",\"7/2/3\",\"\",\"\",\"\",\"\",\"Auto\"\n\"Generic\",\"8/-/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"MDT AKK 16\",\"8/0/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"001 E\",\"8/0/0\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"001 E?\",\"8/0/1\",\"\",\"\",\"\",\"\",\"Auto\"\n\"001 I\",\"8/0/2\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"001 I?\",\"8/0/3\",\"\",\"\",\"\",\"\",\"Auto\"\n\"001 N\",\"8/0/6\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"001 N?\",\"8/0/7\",\"\",\"\",\"\",\"\",\"Auto\"\n\"001 O\",\"8/0/8\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"001 O?\",\"8/0/9\",\"\",\"\",\"\",\"\",\"Auto\"\n\"007 A\",\"8/0/10\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"007 A?\",\"8/0/11\",\"\",\"\",\"\",\"\",\"Auto\"\n\"007 B\",\"8/0/12\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"007 B?\",\"8/0/13\",\"\",\"\",\"\",\"\",\"Auto\"\n\"007 E\",\"8/0/14\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"007 E?\",\"8/0/15\",\"\",\"\",\"\",\"\",\"Auto\"\n\"007 F\",\"8/0/16\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"007 F?\",\"8/0/17\",\"\",\"\",\"\",\"\",\"Auto\"\n\"007 G\",\"8/0/18\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"007 G?\",\"8/0/19\",\"\",\"\",\"\",\"\",\"Auto\"\n\"007 H\",\"8/0/20\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"007 H?\",\"8/0/21\",\"\",\"\",\"\",\"\",\"Auto\"\n\"007 J\",\"8/0/22\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"007 J?\",\"8/0/23\",\"\",\"\",\"\",\"\",\"Auto\"\n\"007 M\",\"8/0/24\",\"\",\"\",\"\",\"\",\"Auto\"\n\"007 M?\",\"8/0/25\",\"\",\"\",\"\",\"\",\"Auto\"\n\"007 N\",\"8/0/26\",\"\",\"\",\"\",\"\",\"Auto\"\n\"007 N?\",\"8/0/27\",\"\",\"\",\"\",\"\",\"Auto\"\n\"100 A\",\"8/0/28\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"100 A?\",\"8/0/29\",\"\",\"\",\"\",\"\",\"Auto\"\n\"100 C\",\"8/0/30\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"100 C?\",\"8/0/31\",\"\",\"\",\"\",\"\",\"Auto\"\n\"100 I\",\"8/0/32\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"100 I?\",\"8/0/33\",\"\",\"\",\"\",\"\",\"Auto\"\n\"100 J\",\"8/0/34\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"100 J?\",\"8/0/35\",\"\",\"\",\"\",\"\",\"Auto\"\n"},{"id":"ff5d218f.cc6a3","type":"inject","z":"a75e2055.a31ca","name":"On","topic":"thema?","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":180,"wires":[["67979847.8ec838"]]},{"id":"97c95df8.a1506","type":"inject","z":"a75e2055.a31ca","name":"Off","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":220,"wires":[["67979847.8ec838"]]},{"id":"c534e301.85776","type":"function","z":"a75e2055.a31ca","name":"KNX to Number / Unit","func":"// see node_modules/knx/src/dptlib\n\n\nfunction ldexp(mantissa, exponent) {\n   return exponent > 1023  ? mantissa * Math.pow(2, 1023) * Math.pow(2, exponent - 1023)\n        : exponent < -1074 ? mantissa * Math.pow(2, -1074) * Math.pow(2, exponent + 1074)\n        : mantissa * Math.pow(2, exponent);\n}\n\nvar newMsg = {};\n\n\nnewMsg.payload = {\n    name: global.get(\"names\")[ msg.payload.dstgad ],\n    ga:   msg.payload.dstgad\n};\n\nnewMsg.payload.timestamp = Date.now();\n\nvar dpt = global.get(\"dpts\")[  msg.payload.dstgad ];\n\n// var dpt = typeof ets5dpt !== \"undefined\" && ets5dpt !== null ? ets5dpt : \"DPST-5-1\";\n\n\n\nvar buf = msg.payload.value;\n\n\nswitch(dpt) {\n    case \"DPST-1-1\":\n        newMsg.payload.number = buf[0] !== 0;\n        newMsg.payload.unit   = \"(bool)\";\n        newMsg.payload.dpst   = \"1-1\";\n        newMsg.topic          = \"dpt\";\n        break;\n    case \"DPST-5-1\":\n        newMsg.payload.number = buf[0]/2.55;\n        newMsg.payload.unit   = \"%\";\n        newMsg.payload.dpst   = \"5-1\"\n        newMsg.topic          = \"dpt\";\n        break;\n    case \"DPST-9-1\":\n        var sign     =  buf[0] >> 7;\n        var exponent = (buf[0] & 0b01111000) >> 3;\n        var mantissa = 256 * (buf[0] & 0b00000111) + buf[1];\n        mantissa = (sign == 1) ? ~(mantissa^2047) : mantissa;\n\n        newMsg.payload.number = ldexp((0.01*mantissa), exponent);\n        \n        newMsg.payload.unit   = \"°C\"\n        newMsg.payload.dpst   = \"9-1\"\n        newMsg.topic          = \"dpt\";\n        break;\n    default:\n}\n\n\n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":320,"y":680,"wires":[["3c39bb67.6a1334","ef54f808.8cd918"]]},{"id":"3c39bb67.6a1334","type":"function","z":"a75e2055.a31ca","name":"buffer save","func":"var buffer = flow.get(\"buffer\");\n\nif (typeof(buffer) == 'undefined') {\n    buffer = {}\n}\n\nbuffer[msg.payload.name] = msg.payload;\n\nflow.set(\"buffer\", buffer);\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":720,"wires":[["46fcdac9.3b3dd4"]]},{"id":"a266b391.8637","type":"change","z":"a75e2055.a31ca","name":"topic: GA","rules":[{"t":"set","p":"topic","pt":"msg","to":"GA","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":440,"wires":[["46fcdac9.3b3dd4","fa04ead6.e4d6b8"]]},{"id":"fa04ead6.e4d6b8","type":"debug","z":"a75e2055.a31ca","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1410,"y":440,"wires":[]},{"id":"9ce17f84.0c481","type":"delay","z":"a75e2055.a31ca","name":"only once","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":840,"y":360,"wires":[["65b24e98.1f21d"]]},{"id":"e884898e.f34f98","type":"function","z":"a75e2055.a31ca","name":"replay buffer","func":"var buffer = flow.get(\"buffer\");\n\nvar msgs = [];\n\nfor (var name in buffer){\n    node.send({topic: \"dpt\", payload: buffer[name]})\n}\n","outputs":1,"noerr":0,"x":1030,"y":900,"wires":[["46fcdac9.3b3dd4","2fd305be.d7052a"]]},{"id":"63fab8e1.d75228","type":"delay","z":"a75e2055.a31ca","name":"only once","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1020,"y":860,"wires":[["e884898e.f34f98"]]},{"id":"6ff9232e.abc92c","type":"inject","z":"a75e2055.a31ca","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":780,"y":860,"wires":[["63fab8e1.d75228"]]},{"id":"2fd305be.d7052a","type":"debug","z":"a75e2055.a31ca","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1270,"y":900,"wires":[]},{"id":"3f80e2ef.3a530e","type":"debug","z":"a75e2055.a31ca","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":230,"y":840,"wires":[]},{"id":"3d18e264.d56a3e","type":"csv","z":"a75e2055.a31ca","name":"","sep":",","hdrin":"","hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":"0","x":1010,"y":400,"wires":[["54a8d339.3c215c"]]},{"id":"54a8d339.3c215c","type":"function","z":"a75e2055.a31ca","name":"analyze ga data","func":"var name, dpt, match, trade, room, subname, dimming, value, szene, status, reply;\nvar guess_dpt;\n\nvalid_ga   = /\\d+\\/\\d+\\/\\d+/;\nparse_name = /(\\w)(\\d\\d\\d)\\.*([\\w\\d]*)\\.*([~=\\?#!]*)/;\n\nga_catalog = {};\n\n\nmsg.payload.map( function(item) {\n    var ga = item[\"col2\"]\n    \n    if (valid_ga.exec(ga)) {\n        \n        name    = item[\"col1\"];\n        dpt     = item[\"col6\"];\n        \n        match = parse_name.exec(name) \n        \n        if ( match ) {\n\n            trade   = match[1];\n            room    = match[2];\n            subname = match[3];\n            dimming = /~/.test(match[4]);\n            value   = /=/.test(match[4]);\n            szene   = /#/.test(match[4]);\n            status  = /\\?/.test(match[4]);\n            reply   = /!/.test(match[4]);\n    \n            if (typeof dpt === \"undefined\" || dpt === null) {\n                guess_dpt = (function() {\n                    switch (trade) {\n                        case \"L\":\n                            if (dimming) { \n                                return \"3-7\";\n                            } else if (value || reply) {\n                                return \"5-1\";\n                            } else if (szene) {\n                                return \"18-1\";\n                            } else {\n                                return \"1-1\";\n                            }\n                            break;\n                        case \"W\":\n                            return \"1-1\";\n                        case \"T\":\n                            return \"9-1\"\n                        case \"H\":\n                            return \"9-7\"\n                        default: \n                            return false;\n                    }\n                })();\n                if (guess_dpt) {\n                    dpt = \"DPST-\" + guess_dpt;\n                }\n                \n            }\n        }\n\n        \n        match = parse_name.exec(name);\n\n        if (match) {\n            ga_catalog[ga] = {  trade:      trade,\n                                room:       room,\n                                subname:    subname,\n                                name:       name,\n                                dpt:        dpt,\n                                dimming:    dimming,\n                                value:      value,\n                                szene:      szene,\n                                status:     status,\n                                reply:      reply\n            };\n        }\n    }\n\n})\n\nnewMsg = {};\nnewMsg.payload = {\n        ga_catalog: ga_catalog\n    }\nreturn newMsg;","outputs":1,"noerr":0,"x":1040,"y":440,"wires":[["e0755b9e.08db88","a266b391.8637"]]},{"id":"dbdacb.084a8538","type":"inject","z":"a75e2055.a31ca","name":"Init","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":670,"y":360,"wires":[["9ce17f84.0c481"]]},{"id":"65b24e98.1f21d","type":"file in","z":"a75e2055.a31ca","name":"GA.csv","filename":"/home/boris/.node-red/ets5/Group Addresses.csv","format":"utf8","chunk":false,"sendError":false,"x":1020,"y":360,"wires":[["3d18e264.d56a3e"]]},{"id":"e0755b9e.08db88","type":"function","z":"a75e2055.a31ca","name":"extract names and dpts","func":"var data  = msg.payload.ga_catalog;\n\nvar names = {}\nvar dpt   = {}\nvar ga;\n\nfor (ga in data) {\n    names[ga] = data[ga].name\n    dpt[ga]   = data[ga].dpt\n}\n\nnewMsg = {};\nnewMsg.payload = {\n        names: names, dpts: dpt\n    }\nreturn newMsg;","outputs":1,"noerr":0,"x":1070,"y":480,"wires":[["d939ad63.82672"]]},{"id":"d939ad63.82672","type":"function","z":"a75e2055.a31ca","name":"save global","func":"for (var property in msg.payload) {\n    value = msg.payload[property];\n    global.set(property, value);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":520,"wires":[[]]},{"id":"3de95507.ce438a","type":"debug","z":"a75e2055.a31ca","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1010,"y":660,"wires":[]},{"id":"ef54f808.8cd918","type":"debug","z":"a75e2055.a31ca","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":680,"wires":[]},{"id":"269c3375.8d2fbc","type":"filter","z":"a75e2055.a31ca","name":"hasValue?","property":"payload.value","propertyType":"msg","asArray":false,"itemProperty":"payload","itemPropertyType":"item","rules":[{"t":"nnull","output":1}],"checkall":"true","outputs":1,"x":290,"y":640,"wires":[["c534e301.85776"]]},{"id":"4bf151f4.8abdf","type":"filter","z":"a75e2055.a31ca","name":"ready for content","property":"uibuilderCtrl","propertyType":"msg","asArray":false,"itemProperty":"payload","itemPropertyType":"item","rules":[{"t":"eq","v":"ready for content","vt":"str","output":1}],"checkall":"true","outputs":1,"x":1050,"y":740,"wires":[["9ce17f84.0c481"]]},{"id":"5e85cdcd.dfd5f4","type":"filter","z":"a75e2055.a31ca","name":"knx replay","property":"uibuilderCtrl","propertyType":"msg","asArray":false,"itemProperty":"payload","itemPropertyType":"item","rules":[{"t":"eq","v":"knx replay","vt":"str","output":1}],"checkall":"true","outputs":1,"x":1030,"y":780,"wires":[["63fab8e1.d75228"]]},{"id":"49e28275.d9592c","type":"filter","z":"a75e2055.a31ca","name":"","property":"payload.dstgad","propertyType":"msg","asArray":false,"itemProperty":"payload","itemPropertyType":"item","rules":[{"t":"eq","v":"0/5/0","vt":"str","output":1},{"t":"eq","v":"0/5/23","vt":"str","output":1},{"t":"eq","v":"x/x/x","vt":"str","output":1},{"t":"eq","v":"x/x/x","vt":"str","output":1}],"checkall":"true","outputs":1,"x":230,"y":800,"wires":[["3f80e2ef.3a530e"]]},{"id":"46fcdac9.3b3dd4","type":"uibuilder","z":"a75e2055.a31ca","name":"UI","topic":"","url":"http://localhost:1880/lbw","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"debugFE":false,"copyIndex":false,"x":790,"y":720,"wires":[["3de95507.ce438a","31c32572.1858ca"],["4bf151f4.8abdf","5e85cdcd.dfd5f4"]]},{"id":"7fbc51b5.6d988","type":"sunrise","z":"a75e2055.a31ca","name":"Daylight","lat":"52.235830","lon":"4.442678","start":"goldenHourEnd","end":"goldenHour","x":390,"y":40,"wires":[[],[]]},{"id":"5b4e15d6.a3505c","type":"uibuilder","z":"a75e2055.a31ca","name":"abc","topic":"","url":"abc","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"debugFE":false,"copyIndex":true,"x":990,"y":160,"wires":[[],[]]},{"id":"f0ea3ce6.8f00c","type":"inject","z":"bb18a7c8.dc0378","name":"On","topic":"thema?","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":180,"wires":[["498240b.5311fc"]]},{"id":"90e7e4c2.844c48","type":"debug","z":"bb18a7c8.dc0378","name":"2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":430,"y":200,"wires":[]},{"id":"866f0f98.d140a","type":"inject","z":"bb18a7c8.dc0378","name":"Off","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":220,"wires":[["498240b.5311fc"]]},{"id":"41e66b25.2c0774","type":"sunrise","z":"bb18a7c8.dc0378","name":"Daylight","lat":"52.235830","lon":"4.442678","start":"goldenHourEnd","end":"goldenHour","x":390,"y":40,"wires":[[],[]]},{"id":"2133d393.51f20c","type":"ui_chart","z":"8e1c0fd1.27e96","name":"Temperatures","group":"625d8dd.0378674","order":1,"width":0,"height":0,"label":"LBW","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"no data","dot":false,"ymin":"15","ymax":"35","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":580,"y":300,"wires":[[],[]]},{"id":"b59ac433.07a068","type":"ui_gauge","z":"8e1c0fd1.27e96","name":"Office","group":"b7cf4dd7.b3cfd","order":1,"width":0,"height":0,"gtype":"gage","title":"{{name}}","label":"°C","format":"{{value|number:1}}","min":"10","max":"30","colors":["#55c4ff","#00e651","#ca3838"],"seg1":"","seg2":"","x":570,"y":680,"wires":[]},{"id":"a1fbfe7.dcae2","type":"change","z":"8e1c0fd1.27e96","name":"convert","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":680,"wires":[["b59ac433.07a068","2133d393.51f20c"]]},{"id":"486eb8e9.8b3528","type":"change","z":"8e1c0fd1.27e96","name":"convert","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":40,"wires":[["b1f87bb2.cef7f8","2133d393.51f20c"]]},{"id":"9eb19c51.0ad6e","type":"change","z":"8e1c0fd1.27e96","name":"convert","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":80,"wires":[["f5778e29.4de64","2133d393.51f20c"]]},{"id":"b0cd21f5.80493","type":"change","z":"8e1c0fd1.27e96","name":"convert","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":120,"wires":[["2c3d78f4.34f918","2133d393.51f20c"]]},{"id":"45507f8b.ad296","type":"change","z":"8e1c0fd1.27e96","name":"convert","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":160,"wires":[["284c73de.4ec0ec"]]},{"id":"fccca3e8.1e254","type":"change","z":"8e1c0fd1.27e96","name":"convert","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":200,"wires":[["cb056720.f41048","2133d393.51f20c"]]},{"id":"72a3aa82.d523a4","type":"change","z":"8e1c0fd1.27e96","name":"convert","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":240,"wires":[["15b58ae2.e4f275","2133d393.51f20c"]]},{"id":"53872c3e.a6fb64","type":"change","z":"8e1c0fd1.27e96","name":"convert","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":380,"wires":[["47adf7fa.add4b8","2133d393.51f20c"]]},{"id":"d1eea7a2.a87988","type":"change","z":"8e1c0fd1.27e96","name":"convert","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":420,"wires":[["c7add5b0.d3ee78","2133d393.51f20c"]]},{"id":"85a54fab.d583b","type":"change","z":"8e1c0fd1.27e96","name":"convert","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":460,"wires":[["2f8fad4d.0ab502","2133d393.51f20c"]]},{"id":"2d79b63.d97434a","type":"change","z":"8e1c0fd1.27e96","name":"convert","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":500,"wires":[["65cf2bc.d226ad4","2133d393.51f20c"]]},{"id":"8c474f4.5f751b","type":"change","z":"8e1c0fd1.27e96","name":"convert","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":540,"wires":[["ed437725.fa6c08","2133d393.51f20c"]]},{"id":"e1bbfe36.b776d","type":"change","z":"8e1c0fd1.27e96","name":"convert","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":720,"wires":[["78e4564d.66f028","2133d393.51f20c"]]},{"id":"b1f87bb2.cef7f8","type":"ui_gauge","z":"8e1c0fd1.27e96","name":"Entry","group":"b7cf4dd7.b3cfd","order":3,"width":0,"height":0,"gtype":"gage","title":"{{name}}","label":"°C","format":"{{value|number:1}}","min":"10","max":"30","colors":["#55c4ff","#00e651","#ca3838"],"seg1":"","seg2":"","x":550,"y":40,"wires":[]},{"id":"f5778e29.4de64","type":"ui_gauge","z":"8e1c0fd1.27e96","name":"Pantry","group":"bbc17823.288368","order":4,"width":0,"height":0,"gtype":"gage","title":"{{name}}","label":"°C","format":"{{value|number:1}}","min":"10","max":"30","colors":["#55c4ff","#00e651","#ca3838"],"seg1":"","seg2":"","x":550,"y":80,"wires":[]},{"id":"2c3d78f4.34f918","type":"ui_gauge","z":"8e1c0fd1.27e96","name":"Living","group":"ccaa92e3.5df75","order":3,"width":0,"height":0,"gtype":"gage","title":"{{name}}","label":"°C","format":"{{value|number:1}}","min":"10","max":"30","colors":["#55c4ff","#00e651","#ca3838"],"seg1":"","seg2":"","x":550,"y":120,"wires":[]},{"id":"284c73de.4ec0ec","type":"ui_gauge","z":"8e1c0fd1.27e96","name":"Living (RCD)","group":"ccaa92e3.5df75","order":4,"width":0,"height":0,"gtype":"gage","title":"{{name}}","label":"°C","format":"{{value|number:1}}","min":"10","max":"30","colors":["#55c4ff","#00e651","#ca3838"],"seg1":"","seg2":"","x":570,"y":160,"wires":[]},{"id":"cb056720.f41048","type":"ui_gauge","z":"8e1c0fd1.27e96","name":"Kitchen","group":"bbc17823.288368","order":3,"width":0,"height":0,"gtype":"gage","title":"{{name}}","label":"°C","format":"{{value|number:1}}","min":"10","max":"30","colors":["#55c4ff","#00e651","#ca3838"],"seg1":"","seg2":"","x":560,"y":200,"wires":[]},{"id":"15b58ae2.e4f275","type":"ui_gauge","z":"8e1c0fd1.27e96","name":"WC","group":"b7cf4dd7.b3cfd","order":4,"width":0,"height":0,"gtype":"gage","title":"{{name}}","label":"°C","format":"{{value|number:1}}","min":"10","max":"30","colors":["#55c4ff","#00e651","#ca3838"],"seg1":"","seg2":"","x":550,"y":240,"wires":[]},{"id":"47adf7fa.add4b8","type":"ui_gauge","z":"8e1c0fd1.27e96","name":"Lina","group":"b7cf4dd7.b3cfd","order":2,"width":0,"height":0,"gtype":"gage","title":"{{name}}","label":"°C","format":"{{value|number:1}}","min":"10","max":"30","colors":["#55c4ff","#00e651","#ca3838"],"seg1":"","seg2":"","x":550,"y":380,"wires":[]},{"id":"78e4564d.66f028","type":"ui_gauge","z":"8e1c0fd1.27e96","name":"Jane","group":"ccaa92e3.5df75","order":1,"width":0,"height":0,"gtype":"gage","title":"{{name}}","label":"°C","format":"{{value|number:1}}","min":"10","max":"30","colors":["#55c4ff","#00e651","#ca3838"],"seg1":"","seg2":"","x":570,"y":720,"wires":[]},{"id":"c7add5b0.d3ee78","type":"ui_gauge","z":"8e1c0fd1.27e96","name":"Tian","group":"ccaa92e3.5df75","order":2,"width":0,"height":0,"gtype":"gage","title":"{{name}}","label":"°C","format":"{{value|number:1}}","min":"10","max":"30","colors":["#55c4ff","#00e651","#ca3838"],"seg1":"","seg2":"","x":550,"y":420,"wires":[]},{"id":"2f8fad4d.0ab502","type":"ui_gauge","z":"8e1c0fd1.27e96","name":"May & Boris","group":"bbc17823.288368","order":2,"width":0,"height":0,"gtype":"gage","title":"{{name}}","label":"°C","format":"{{value|number:1}}","min":"10","max":"30","colors":["#55c4ff","#00e651","#ca3838"],"seg1":"","seg2":"","x":570,"y":460,"wires":[]},{"id":"65cf2bc.d226ad4","type":"ui_gauge","z":"8e1c0fd1.27e96","name":"Bath","group":"bb784622.ecb1d8","order":2,"width":0,"height":0,"gtype":"gage","title":"{{name}}","label":"°C","format":"{{value|number:1}}","min":"10","max":"30","colors":["#55c4ff","#00e651","#ca3838"],"seg1":"","seg2":"","x":550,"y":500,"wires":[]},{"id":"ed437725.fa6c08","type":"ui_gauge","z":"8e1c0fd1.27e96","name":"Bath (HT)","group":"bb784622.ecb1d8","order":1,"width":0,"height":0,"gtype":"gage","title":"{{name}}","label":"°C","format":"{{value|number:1}}","min":"10","max":"30","colors":["#55c4ff","#00e651","#ca3838"],"seg1":"","seg2":"","x":560,"y":540,"wires":[]},{"id":"6ce7b9b9.25b578","type":"openweathermap in","z":"8e1c0fd1.27e96","name":"Noordwijk","wtype":"current","lon":"","lat":"","city":"Noordwijk","country":"Netherlands","language":"en","x":180,"y":820,"wires":[["25a14934.d6d0f6","132f20d1.fee1ff"]]},{"id":"25a14934.d6d0f6","type":"change","z":"8e1c0fd1.27e96","name":"convert","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.tempC","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":820,"wires":[["af454065.be725"]]},{"id":"af454065.be725","type":"ui_gauge","z":"8e1c0fd1.27e96","name":"Outside","group":"bb784622.ecb1d8","order":3,"width":0,"height":0,"gtype":"gage","title":"{{name}}","label":"°C","format":"{{value|number:1}}","min":"10","max":"30","colors":["#55c4ff","#00e651","#ca3838"],"seg1":"","seg2":"","x":580,"y":820,"wires":[]},{"id":"132f20d1.fee1ff","type":"ui_gauge","z":"8e1c0fd1.27e96","name":"Wind Angle","group":"bb784622.ecb1d8","order":0,"width":0,"height":0,"gtype":"compass","title":"gauge","label":"units","format":"{{winddirection}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":880,"wires":[]},{"id":"a2d743e5.ebba","type":"openweathermap","z":"8e1c0fd1.27e96","name":"NWZH","wtype":"current","lon":"-4.4500","lat":"52.2400","city":"","country":"","language":"en","x":170,"y":860,"wires":[["25a14934.d6d0f6","132f20d1.fee1ff"]]},{"id":"eb682a47.0fe658","type":"inject","z":"8e1c0fd1.27e96","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":920,"wires":[["a2d743e5.ebba"]]},{"id":"cabe8e24.f9986","type":"filter","z":"bb18a7c8.dc0378","name":"hasValue?","property":"payload.value","propertyType":"msg","asArray":false,"itemProperty":"payload","itemPropertyType":"item","rules":[{"t":"nnull","output":1}],"checkall":"true","outputs":1,"x":360,"y":720,"wires":[["6506053d.293ebc"]]},{"id":"6506053d.293ebc","type":"function","z":"bb18a7c8.dc0378","name":"KNX to Number / Unit","func":"// see node_modules/knx/src/dptlib\n\n\nfunction ldexp(mantissa, exponent) {\n   return exponent > 1023  ? mantissa * Math.pow(2, 1023) * Math.pow(2, exponent - 1023)\n        : exponent < -1074 ? mantissa * Math.pow(2, -1074) * Math.pow(2, exponent + 1074)\n        : mantissa * Math.pow(2, exponent);\n}\n\nvar newMsg = {};\n\n\nnewMsg.payload = {\n    name: global.get(\"names\")[ msg.payload.dstgad ],\n    ga:   msg.payload.dstgad\n};\n\nnewMsg.payload.timestamp = Date.now();\n\nvar dpt = global.get(\"dpts\")[  msg.payload.dstgad ];\n\n// var dpt = typeof ets5dpt !== \"undefined\" && ets5dpt !== null ? ets5dpt : \"DPST-5-1\";\n\n\n\nvar buf = msg.payload.value;\n\n\nswitch(dpt) {\n    case \"DPST-1-1\":\n        newMsg.payload.number = buf[0] !== 0;\n        newMsg.payload.unit   = \"(bool)\";\n        newMsg.payload.dpst   = \"1-1\";\n        newMsg.topic          = \"dpt\";\n        break;\n    case \"DPST-5-1\":\n        newMsg.payload.number = buf[0]/2.55;\n        newMsg.payload.unit   = \"%\";\n        newMsg.payload.dpst   = \"5-1\"\n        newMsg.topic          = \"dpt\";\n        break;\n    case \"DPST-9-1\":\n        var sign     =  buf[0] >> 7;\n        var exponent = (buf[0] & 0b01111000) >> 3;\n        var mantissa = 256 * (buf[0] & 0b00000111) + buf[1];\n        mantissa = (sign == 1) ? ~(mantissa^2047) : mantissa;\n\n        newMsg.payload.number = ldexp((0.01*mantissa), exponent);\n        \n        newMsg.payload.unit   = \"°C\"\n        newMsg.payload.dpst   = \"9-1\"\n        newMsg.topic          = \"dpt\";\n        break;\n    default:\n}\n\n\n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":570,"y":720,"wires":[["b3227974.127878","af3b3d26.bb1e1"]]},{"id":"b2cdccf7.2666f","type":"uibuilder","z":"bb18a7c8.dc0378","name":"UI","topic":"","url":"lbw","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"debugFE":false,"copyIndex":false,"x":1020,"y":720,"wires":[["fbdd88c6.5af658","46c98c90.54fa54"],["d53f26b2.cb0d58","5e8c0ea1.cbba"]]},{"id":"b3227974.127878","type":"function","z":"bb18a7c8.dc0378","name":"buffer save","func":"var buffer = flow.get(\"buffer\");\n\nif (typeof(buffer) == 'undefined') {\n    buffer = {}\n}\n\nbuffer[msg.payload.name] = msg.payload;\n\nflow.set(\"buffer\", buffer);\n\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":720,"wires":[["b2cdccf7.2666f"]]},{"id":"b062c629.5e5ce","type":"change","z":"bb18a7c8.dc0378","name":"topic: GA","rules":[{"t":"set","p":"topic","pt":"msg","to":"GA","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1300,"y":340,"wires":[["b2cdccf7.2666f","bece1931.c136a8"]]},{"id":"bece1931.c136a8","type":"debug","z":"bb18a7c8.dc0378","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1510,"y":340,"wires":[]},{"id":"c6f318a5.6922d8","type":"trigger","z":"bb18a7c8.dc0378","op1":"1","op2":"0","op1type":"val","op2type":"val","duration":"250","extend":"false","units":"ms","reset":"","bytopic":"all","name":"","x":840,"y":100,"wires":[[]]},{"id":"4b3d38e1.54fe68","type":"delay","z":"bb18a7c8.dc0378","name":"only once","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":880,"y":260,"wires":[["c7a53e70.e6be9"]]},{"id":"a45c9c2c.7ae87","type":"function","z":"bb18a7c8.dc0378","name":"replay buffer","func":"var buffer = flow.get(\"buffer\");\n\nvar msgs = [];\n\nfor (var name in buffer){\n    node.send({topic: \"dpt\", payload: buffer[name]})\n}\n","outputs":1,"noerr":0,"x":1190,"y":900,"wires":[["b2cdccf7.2666f","e935a7db.0b5508"]]},{"id":"d53f26b2.cb0d58","type":"filter","z":"bb18a7c8.dc0378","name":"ready for content","property":"uibuilderCtrl","propertyType":"msg","asArray":false,"itemProperty":"payload","itemPropertyType":"item","rules":[{"t":"eq","v":"ready for content","vt":"str","output":1}],"checkall":"true","outputs":1,"x":1250,"y":740,"wires":[["4b3d38e1.54fe68"]]},{"id":"5e8c0ea1.cbba","type":"filter","z":"bb18a7c8.dc0378","name":"knx replay","property":"uibuilderCtrl","propertyType":"msg","asArray":false,"itemProperty":"payload","itemPropertyType":"item","rules":[{"t":"eq","v":"knx replay","vt":"str","output":1}],"checkall":"true","outputs":1,"x":1230,"y":780,"wires":[["3f090788.b63508"]]},{"id":"3f090788.b63508","type":"delay","z":"bb18a7c8.dc0378","name":"only once","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1020,"y":900,"wires":[["a45c9c2c.7ae87"]]},{"id":"beef614c.e80f4","type":"inject","z":"bb18a7c8.dc0378","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1020,"y":940,"wires":[["a45c9c2c.7ae87"]]},{"id":"e935a7db.0b5508","type":"debug","z":"bb18a7c8.dc0378","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1470,"y":880,"wires":[]},{"id":"af3b3d26.bb1e1","type":"debug","z":"bb18a7c8.dc0378","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":860,"wires":[]},{"id":"7acdf94a.3c7018","type":"debug","z":"bb18a7c8.dc0378","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":460,"y":980,"wires":[]},{"id":"3ab9865d.56a49a","type":"filter","z":"bb18a7c8.dc0378","name":"","property":"payload.dstgad","propertyType":"msg","asArray":false,"itemProperty":"payload","itemPropertyType":"item","rules":[{"t":"eq","v":"0/5/0","vt":"str","output":1},{"t":"eq","v":"0/5/23","vt":"str","output":1},{"t":"eq","v":"x/x/x","vt":"str","output":1},{"t":"eq","v":"x/x/x","vt":"str","output":1}],"checkall":"true","outputs":1,"x":310,"y":860,"wires":[["7acdf94a.3c7018"]]},{"id":"58ff07e2.d031a8","type":"csv","z":"bb18a7c8.dc0378","name":"","sep":",","hdrin":"","hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":"0","x":1130,"y":300,"wires":[["6da70a1.ad6fbf4"]]},{"id":"6da70a1.ad6fbf4","type":"function","z":"bb18a7c8.dc0378","name":"analyze ga data","func":"var name, dpt, match, trade, room, subname, dimming, value, szene, status, reply;\nvar guess_dpt;\n\nvalid_ga   = /\\d+\\/\\d+\\/\\d+/;\nparse_name = /(\\w)(\\d\\d\\d)\\.*([\\w\\d]*)\\.*([~=\\?#!]*)/;\n\nga_catalog = {};\n\n\nmsg.payload.map( function(item) {\n    var ga = item[\"col2\"]\n    \n    if (valid_ga.exec(ga)) {\n        \n        name    = item[\"col1\"];\n        dpt     = item[\"col6\"];\n        \n        match = parse_name.exec(name) \n        \n        if ( match ) {\n\n            trade   = match[1];\n            room    = match[2];\n            subname = match[3];\n            dimming = /~/.test(match[4]);\n            value   = /=/.test(match[4]);\n            szene   = /#/.test(match[4]);\n            status  = /\\?/.test(match[4]);\n            reply   = /!/.test(match[4]);\n    \n            if (typeof dpt === \"undefined\" || dpt === null) {\n                guess_dpt = (function() {\n                    switch (trade) {\n                        case \"L\":\n                            if (dimming) { \n                                return \"3-7\";\n                            } else if (value || reply) {\n                                return \"5-1\";\n                            } else if (szene) {\n                                return \"18-1\";\n                            } else {\n                                return \"1-1\";\n                            }\n                            break;\n                        case \"W\":\n                            return \"1-1\";\n                        case \"T\":\n                            return \"9-1\"\n                        case \"H\":\n                            return \"9-7\"\n                        default: \n                            return false;\n                    }\n                })();\n                if (guess_dpt) {\n                    dpt = \"DPST-\" + guess_dpt;\n                }\n                \n            }\n        }\n\n        \n        match = parse_name.exec(name);\n\n        if (match) {\n            ga_catalog[ga] = {  trade:      trade,\n                                room:       room,\n                                subname:    subname,\n                                name:       name,\n                                dpt:        dpt,\n                                dimming:    dimming,\n                                value:      value,\n                                szene:      szene,\n                                status:     status,\n                                reply:      reply\n            };\n        }\n    }\n\n})\n\nnewMsg = {};\nnewMsg.payload = {\n        ga_catalog: ga_catalog\n    }\nreturn newMsg;","outputs":1,"noerr":0,"x":1100,"y":340,"wires":[["d58687ff.8ff1c8","b062c629.5e5ce"]]},{"id":"bcb6332.b07ecd","type":"inject","z":"bb18a7c8.dc0378","name":"Init","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":710,"y":260,"wires":[["4b3d38e1.54fe68"]]},{"id":"c7a53e70.e6be9","type":"file in","z":"bb18a7c8.dc0378","name":"GA.csv","filename":"/home/boris/.node-red/ets5/Group Addresses.csv","format":"utf8","chunk":false,"sendError":false,"x":1120,"y":260,"wires":[["58ff07e2.d031a8"]]},{"id":"d58687ff.8ff1c8","type":"function","z":"bb18a7c8.dc0378","name":"extract names and dpts","func":"var data  = msg.payload.ga_catalog;\n\nvar names = {}\nvar dpt   = {}\nvar ga;\n\nfor (ga in data) {\n    names[ga] = data[ga].name\n    dpt[ga]   = data[ga].dpt\n}\n\nnewMsg = {};\nnewMsg.payload = {\n        names: names, dpts: dpt\n    }\nreturn newMsg;","outputs":1,"noerr":0,"x":1070,"y":380,"wires":[["14eca95a.6ee787"]]},{"id":"14eca95a.6ee787","type":"function","z":"bb18a7c8.dc0378","name":"save global","func":"for (var property in msg.payload) {\n    value = msg.payload[property];\n    global.set(property, value);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":420,"wires":[[]]},{"id":"fbdd88c6.5af658","type":"debug","z":"bb18a7c8.dc0378","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1550,"y":660,"wires":[]},{"id":"4f1f46e5.417c38","type":"inject","z":"73321b5c.f02f84","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":300,"wires":[["87494e5.8a4c1b"]]},{"id":"87494e5.8a4c1b","type":"change","z":"73321b5c.f02f84","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":300,"wires":[["69748cd4.883c64"]]},{"id":"ad78e178.50de7","type":"debug","z":"73321b5c.f02f84","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":870,"y":320,"wires":[]},{"id":"e270f3b1.99d94","type":"inject","z":"73321b5c.f02f84","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":120,"wires":[["11be1a33.0f5fd6"]]},{"id":"11be1a33.0f5fd6","type":"change","z":"73321b5c.f02f84","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"knx: read","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"dstgad\":\"2/0/1\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":120,"wires":[["322040d5.3d176","e72b0ff5.48d7b"]]},{"id":"e72b0ff5.48d7b","type":"debug","z":"73321b5c.f02f84","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":460,"y":200,"wires":[]},{"id":"371f8c91.a37594","type":"filter","z":"73321b5c.f02f84","name":"","property":"payload.dstgad","propertyType":"msg","asArray":false,"itemProperty":"payload","itemPropertyType":"item","rules":[{"t":"eq","v":"2/0/0","vt":"str","output":1},{"t":"eq","v":"2/0/1","vt":"str","output":1},{"t":"eq","v":"x/x/x","vt":"str","output":1},{"t":"eq","v":"x/x/x","vt":"str","output":1}],"checkall":"true","outputs":1,"x":650,"y":440,"wires":[["ad78e178.50de7"]]},{"id":"31c32572.1858ca","type":"knx-out","z":"a75e2055.a31ca","name":"Tx","controller":"e8b3a3ac.dc561","x":1010,"y":700,"wires":[]},{"id":"46c98c90.54fa54","type":"knx-out","z":"bb18a7c8.dc0378","name":"Tx","controller":"e8b3a3ac.dc561","x":1560,"y":600,"wires":[]},{"id":"322040d5.3d176","type":"knx-out","z":"73321b5c.f02f84","name":"L201","controller":"e8b3a3ac.dc561","x":410,"y":120,"wires":[]},{"id":"e1c30209.52f36","type":"knx-in","z":"a75e2055.a31ca","name":"Rx","controller":"e8b3a3ac.dc561","x":90,"y":640,"wires":[["269c3375.8d2fbc","49e28275.d9592c"]]},{"id":"f147a6b8.060558","type":"knx-in","z":"bb18a7c8.dc0378","name":"Rx","controller":"e8b3a3ac.dc561","x":150,"y":720,"wires":[["cabe8e24.f9986","3ab9865d.56a49a"]]},{"id":"d8f7d411.931268","type":"knx-in","z":"73321b5c.f02f84","name":"","controller":"e8b3a3ac.dc561","x":440,"y":460,"wires":[["371f8c91.a37594"]]},{"id":"67979847.8ec838","type":"knx-device","z":"a75e2055.a31ca","controller":"e8b3a3ac.dc561","mode":"csv","groupaddresses":"dc5df6c5.18acb8","name":"L201","groupaddress":"2/0/0","statusga":"2/0/1","dpt":"DPT1","x":310,"y":200,"wires":[[]]},{"id":"498240b.5311fc","type":"knx-device","z":"bb18a7c8.dc0378","controller":"e8b3a3ac.dc561","mode":"csv","groupaddresses":"dc5df6c5.18acb8","name":"L201","groupaddress":"2/0/0","statusga":"2/0/1","dpt":"DPT1","x":310,"y":200,"wires":[["90e7e4c2.844c48"]]},{"id":"e1fb1f15.81003","type":"knx-device","z":"8e1c0fd1.27e96","controller":"e8b3a3ac.dc561","mode":"csv","groupaddresses":"dc5df6c5.18acb8","name":"T202","groupaddress":"2/1/0","statusga":"2/1/0","dpt":"DPT9","x":210,"y":680,"wires":[["a1fbfe7.dcae2"]]},{"id":"c4b88bb7.2b86b8","type":"knx-device","z":"8e1c0fd1.27e96","controller":"e8b3a3ac.dc561","mode":"csv","groupaddresses":"dc5df6c5.18acb8","name":"T101","groupaddress":"1/1/6","statusga":"1/1/6","dpt":"DPT9","x":210,"y":380,"wires":[["53872c3e.a6fb64"]]},{"id":"a5ec1a4a.297068","type":"knx-device","z":"8e1c0fd1.27e96","controller":"e8b3a3ac.dc561","mode":"csv","groupaddresses":"dc5df6c5.18acb8","name":"T102","groupaddress":"1/2/4","statusga":"1/2/4","dpt":"DPT9","x":210,"y":420,"wires":[["d1eea7a2.a87988"]]},{"id":"dd0f8597.041658","type":"knx-device","z":"8e1c0fd1.27e96","controller":"e8b3a3ac.dc561","mode":"csv","groupaddresses":"dc5df6c5.18acb8","name":"T103","groupaddress":"1/3/6","statusga":"1/3/6","dpt":"DPT9","x":210,"y":460,"wires":[["85a54fab.d583b"]]},{"id":"ffb7f6fa.4e1878","type":"knx-device","z":"8e1c0fd1.27e96","controller":"e8b3a3ac.dc561","mode":"csv","groupaddresses":"dc5df6c5.18acb8","name":"T104","groupaddress":"1/4/13","statusga":"1/4/13","dpt":"DPT9","x":210,"y":500,"wires":[["2d79b63.d97434a"]]},{"id":"9192f015.2b649","type":"knx-device","z":"8e1c0fd1.27e96","controller":"e8b3a3ac.dc561","mode":"csv","groupaddresses":"dc5df6c5.18acb8","name":"T104H","groupaddress":"1/4/15","statusga":"1/4/15","dpt":"DPT9","x":210,"y":540,"wires":[["8c474f4.5f751b"]]},{"id":"25d4a4ef.aed08c","type":"knx-device","z":"8e1c0fd1.27e96","controller":"e8b3a3ac.dc561","mode":"csv","groupaddresses":"dc5df6c5.18acb8","name":"T001","groupaddress":"0/1/1","statusga":"0/1/1","dpt":"DPT9","x":210,"y":40,"wires":[["486eb8e9.8b3528"]]},{"id":"12cae91d.401857","type":"knx-device","z":"8e1c0fd1.27e96","controller":"e8b3a3ac.dc561","mode":"csv","groupaddresses":"dc5df6c5.18acb8","name":"T004","groupaddress":"0/4/0","statusga":"0/4/0","dpt":"DPT9","x":210,"y":80,"wires":[["9eb19c51.0ad6e"]]},{"id":"34b4d1a8.ac82ce","type":"knx-device","z":"8e1c0fd1.27e96","controller":"e8b3a3ac.dc561","mode":"csv","groupaddresses":"dc5df6c5.18acb8","name":"T005","groupaddress":"0/5/10","statusga":"0/5/10","dpt":"DPT9","x":210,"y":120,"wires":[["b0cd21f5.80493"]]},{"id":"f820821c.9c28c","type":"knx-device","z":"8e1c0fd1.27e96","controller":"e8b3a3ac.dc561","mode":"csv","groupaddresses":"dc5df6c5.18acb8","name":"T005RCD","groupaddress":"0/5/9","statusga":"0/5/9","dpt":"DPT9","x":200,"y":160,"wires":[["45507f8b.ad296"]]},{"id":"9cf17acc.c29218","type":"knx-device","z":"8e1c0fd1.27e96","controller":"e8b3a3ac.dc561","mode":"csv","groupaddresses":"dc5df6c5.18acb8","name":"T006","groupaddress":"0/6/9","statusga":"0/6/9","dpt":"DPT9","x":210,"y":200,"wires":[["fccca3e8.1e254"]]},{"id":"df06355b.950b98","type":"knx-device","z":"8e1c0fd1.27e96","controller":"e8b3a3ac.dc561","mode":"csv","groupaddresses":"dc5df6c5.18acb8","name":"T008","groupaddress":"0/0/2","statusga":"0/0/2","dpt":"DPT9","x":210,"y":240,"wires":[["72a3aa82.d523a4"]]},{"id":"ba6af36e.2f624","type":"knx-device","z":"8e1c0fd1.27e96","controller":"e8b3a3ac.dc561","mode":"csv","groupaddresses":"dc5df6c5.18acb8","name":"T203","groupaddress":"2/2/2","statusga":"2/2/2","dpt":"DPT9","x":210,"y":720,"wires":[["e1bbfe36.b776d"]]},{"id":"6cba3be3.cb5854","type":"knx-device","z":"73321b5c.f02f84","controller":"e8b3a3ac.dc561","mode":"csv","groupaddresses":"dc5df6c5.18acb8","name":"L005","groupaddress":"0/5/0","statusga":"0/5/3","dpt":"DPT1","x":370,"y":860,"wires":[[]]},{"id":"3a6b688a.37a5f8","type":"knx-device","z":"73321b5c.f02f84","controller":"e8b3a3ac.dc561","mode":"csv","groupaddresses":"dc5df6c5.18acb8","name":"L005 =","groupaddress":"0/5/14","statusga":"0/5/25","dpt":"DPT5","x":370,"y":900,"wires":[[]]},{"id":"69748cd4.883c64","type":"knx-device","z":"73321b5c.f02f84","controller":"e8b3a3ac.dc561","mode":"csv","groupaddresses":"dc5df6c5.18acb8","name":"L201","groupaddress":"2/0/0","statusga":"2/0/1","dpt":"DPT1","x":470,"y":300,"wires":[["ad78e178.50de7"]]},{"id":"faff3838.c5c298","type":"knx-device","z":"73321b5c.f02f84","controller":"e8b3a3ac.dc561","mode":"csv","groupaddresses":"dc5df6c5.18acb8","name":"L201","groupaddress":"2/0/0","statusga":"2/0/1","dpt":"DPT1","x":470,"y":360,"wires":[[]]}]