flows_hamburg.json
[{"id":"bb18a7c8.dc0378","type":"tab","label":"Visu Server","disabled":false,"info":""},{"id":"f26c6b39.8f1b88","type":"tab","label":"Tests","disabled":true,"info":""},{"id":"8bc82941.509678","type":"tab","label":"Colour Background","disabled":false,"info":""},{"id":"27d5491f.4343f6","type":"subflow","name":"Schaaf","info":"","category":"","in":[],"out":[]},{"id":"313a69d4.d33766","type":"subflow","name":"Sources","info":"","category":"","in":[{"x":240,"y":300,"wires":[{"id":"9534d51.6886b28"}]}],"out":[{"x":980,"y":60,"wires":[{"id":"ffbf0f65.dc4e3","port":0}]},{"x":800,"y":540,"wires":[{"id":"9534d51.6886b28","port":0}]}],"outputLabels":["","debug"]},{"id":"826b517.3b25bb","type":"subflow","name":"Setup","info":"","category":"","in":[{"x":40,"y":40,"wires":[{"id":"55ff544d.951b9c"},{"id":"d0d8bd5c.469cc"}]}],"out":[{"x":1060,"y":40,"wires":[{"id":"5a4c7512.71e7dc","port":0},{"id":"42cb3a20.c0daa4","port":0}]}]},{"id":"1ecb0c56.2fad94","type":"subflow","name":"Setup","info":"","category":"","in":[{"x":200,"y":20,"wires":[{"id":"80aa1f0e.2944c"}]}],"out":[{"x":1220,"y":20,"wires":[{"id":"e8e0a1d4.5f5e2","port":0}]}]},{"id":"e8b3a3ac.dc561","type":"knx-controller","z":0,"ipAddr":"224.0.23.12","ipPort":"3671"},{"id":"dc5df6c5.18acb8","type":"ets-csv-export","z":"","name":"ga.csv","csv":"\"Group name\",\"Address\",\"Central\",\"Unfiltered\",\"Description\",\"DatapointType\",\"Security\"\n\"0xx\",\"0/-/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"008\",\"0/0/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L008\",\"0/0/1\",\"\",\"\",\"WC Light\",\"DPST-1-1\",\"Auto\"\n\"T008\",\"0/0/2\",\"\",\"\",\"WC Temperature\",\"DPST-9-1\",\"Auto\"\n\"L008?\",\"0/0/3\",\"\",\"\",\"WC Light Status\",\"\",\"Auto\"\n\"S00\",\"0/0/4\",\"\",\"\",\"WC Temperature Set Point\",\"DPST-9-1\",\"Auto\"\n\"V008\",\"0/0/5\",\"\",\"\",\"WC Radiator Valve\",\"DPST-5-1\",\"Auto\"\n\"S008.?\",\"0/0/6\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"M008\",\"0/0/7\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"001\",\"0/1/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L001\",\"0/1/0\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"T001\",\"0/1/1\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"L001?\",\"0/1/2\",\"\",\"\",\"\",\"\",\"Auto\"\n\"G001S\",\"0/1/3\",\"\",\"\",\"Gate Start\",\"\",\"Auto\"\n\"G001P\",\"0/1/4\",\"\",\"\",\"Gate Pedestrian\",\"\",\"Auto\"\n\"B001\",\"0/1/5\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"B001?\",\"0/1/6\",\"\",\"\",\"\",\"\",\"Auto\"\n\"S001\",\"0/1/7\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"V001\",\"0/1/8\",\"\",\"\",\"\",\"DPST-5-1\",\"Auto\"\n\"S001.?\",\"0/1/9\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"M001\",\"0/1/10\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"002\",\"0/2/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L002\",\"0/2/0\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"L002?\",\"0/2/1\",\"\",\"\",\"\",\"\",\"Auto\"\n\"M002\",\"0/2/2\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"003\",\"0/3/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"004\",\"0/4/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"T004\",\"0/4/0\",\"\",\"\",\"\",\"\",\"Auto\"\n\"005\",\"0/5/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L005.1\",\"0/5/0\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L005.2\",\"0/5/1\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L005.3\",\"0/5/2\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L005.1~\",\"0/5/3\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L005.2~\",\"0/5/4\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L005.3~\",\"0/5/5\",\"\",\"\",\"\",\"\",\"Auto\"\n\"W005A\",\"0/5/6\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"W005B\",\"0/5/7\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"W005C\",\"0/5/8\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"T005.RDC\",\"0/5/9\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"T005.1Wire\",\"0/5/10\",\"\",\"\",\"\",\"\",\"Auto\"\n\"W005D\",\"0/5/11\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"J005.1\",\"0/5/12\",\"\",\"\",\"Cineman Screen\nUp/Down are inverted!\",\"\",\"Auto\"\n\"J005.2\",\"0/5/13\",\"\",\"\",\"Beamer Lift\",\"\",\"Auto\"\n\"L005.1=\",\"0/5/14\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L005.2=\",\"0/5/15\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L005.3=\",\"0/5/16\",\"\",\"\",\"\",\"\",\"Auto\"\n\"W005A?\",\"0/5/17\",\"\",\"\",\"\",\"\",\"Auto\"\n\"W005B?\",\"0/5/18\",\"\",\"\",\"\",\"\",\"Auto\"\n\"W005C?\",\"0/5/19\",\"\",\"\",\"\",\"\",\"Auto\"\n\"W005D?\",\"0/5/20\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L005.3?\",\"0/5/21\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L005.3.!\",\"0/5/22\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L005.1?\",\"0/5/23\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L005.2?\",\"0/5/24\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L005.1.!\",\"0/5/25\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L005.2.!\",\"0/5/26\",\"\",\"\",\"\",\"\",\"Auto\"\n\"S005\",\"0/5/27\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"V005.1\",\"0/5/28\",\"\",\"\",\"\",\"DPST-5-1\",\"Auto\"\n\"V005.2\",\"0/5/29\",\"\",\"\",\"\",\"DPST-5-1\",\"Auto\"\n\"V005.3\",\"0/5/30\",\"\",\"\",\"\",\"DPST-5-1\",\"Auto\"\n\"S005.?'\",\"0/5/31\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"006\",\"0/6/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L006A\",\"0/6/0\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L006B\",\"0/6/1\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L006C\",\"0/6/2\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L006A~\",\"0/6/3\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L006B~\",\"0/6/4\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L006C~\",\"0/6/5\",\"\",\"\",\"\",\"\",\"Auto\"\n\"P006.Floor\",\"0/6/6\",\"\",\"\",\"\",\"\",\"Auto\"\n\"W006A\",\"0/6/7\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"W006A?\",\"0/6/8\",\"\",\"\",\"\",\"\",\"Auto\"\n\"T006\",\"0/6/9\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"L006A?\",\"0/6/10\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L006B?\",\"0/6/11\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L006C?\",\"0/6/12\",\"\",\"\",\"\",\"\",\"Auto\"\n\"P006.Floor.?\",\"0/6/13\",\"\",\"\",\"\",\"\",\"Auto\"\n\"W006B\",\"0/6/14\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"W006B?\",\"0/6/15\",\"\",\"\",\"\",\"\",\"Auto\"\n\"S006\",\"0/6/16\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"V006.Radiator\",\"0/6/17\",\"\",\"\",\"\",\"DPST-5-1\",\"Auto\"\n\"V006.Floor\",\"0/6/18\",\"\",\"\",\"\",\"DPST-5-1\",\"Auto\"\n\"S006.?\",\"0/6/19\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"L006.A=\",\"0/6/20\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L006.A.!\",\"0/6/21\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L006.B=\",\"0/6/22\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L006.B.!\",\"0/6/23\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L006.C=\",\"0/6/24\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L006.C.!\",\"0/6/25\",\"\",\"\",\"\",\"\",\"Auto\"\n\"M006\",\"0/6/26\",\"\",\"\",\"\",\"\",\"Auto\"\n\"007\",\"0/7/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L007\",\"0/7/0\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"Buitenverlichting Automatisch\",\"0/7/1\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"B007.NE\",\"0/7/2\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"L007?\",\"0/7/3\",\"\",\"\",\"\",\"\",\"Auto\"\n\"B007.SW?\",\"0/7/4\",\"\",\"\",\"\",\"\",\"Auto\"\n\"B007.NE?\",\"0/7/5\",\"\",\"\",\"\",\"\",\"Auto\"\n\"B007.SW\",\"0/7/6\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"V007\",\"0/7/7\",\"\",\"\",\"\",\"DPST-5-1\",\"Auto\"\n\"M007\",\"0/7/8\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"1xx\",\"1/-/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"100\",\"1/0/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L100\",\"1/0/0\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L100.~\",\"1/0/1\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L100.down\",\"1/0/2\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L100.down~\",\"1/0/3\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L100.up\",\"1/0/4\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L100.up~\",\"1/0/5\",\"\",\"\",\"\",\"\",\"Auto\"\n\"T100\",\"1/0/6\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"L100.?\",\"1/0/7\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L100.down?\",\"1/0/8\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L100.up?\",\"1/0/9\",\"\",\"\",\"\",\"\",\"Auto\"\n\"S100\",\"1/0/10\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"V100\",\"1/0/11\",\"\",\"\",\"\",\"DPST-5-1\",\"Auto\"\n\"S100.?\",\"1/0/12\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"L100.=\",\"1/0/13\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L100.!\",\"1/0/14\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L100.down=\",\"1/0/15\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L100.down.!\",\"1/0/16\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L100.up=\",\"1/0/17\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L100.up.!\",\"1/0/18\",\"\",\"\",\"\",\"\",\"Auto\"\n\"M100\",\"1/0/19\",\"\",\"\",\"\",\"\",\"Auto\"\n\"101\",\"1/1/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L101.A\",\"1/1/0\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L101.A.?\",\"1/1/1\",\"\",\"\",\"\",\"\",\"Auto\"\n\"W101.L\",\"1/1/2\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"W101.R\",\"1/1/3\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"W101.L ?\",\"1/1/4\",\"\",\"\",\"\",\"\",\"Auto\"\n\"W101.R ?\",\"1/1/5\",\"\",\"\",\"\",\"\",\"Auto\"\n\"T101\",\"1/1/6\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"L101.B\",\"1/1/7\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L101.B.?\",\"1/1/8\",\"\",\"\",\"\",\"\",\"Auto\"\n\"V101\",\"1/1/9\",\"\",\"\",\"\",\"DPST-5-1\",\"Auto\"\n\"S101.?\",\"1/1/10\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"S101\",\"1/1/12\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"102\",\"1/2/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L102\",\"1/2/0\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L102~\",\"1/2/1\",\"\",\"\",\"\",\"\",\"Auto\"\n\"W102.L\",\"1/2/2\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"W102.R\",\"1/2/3\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"T102\",\"1/2/4\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"W102.L?\",\"1/2/5\",\"\",\"\",\"\",\"\",\"Auto\"\n\"W102.R?\",\"1/2/6\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L102?\",\"1/2/7\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L102=\",\"1/2/8\",\"\",\"\",\"\",\"\",\"Auto\"\n\"V102\",\"1/2/9\",\"\",\"\",\"\",\"DPST-5-1\",\"Auto\"\n\"S102.?\",\"1/2/10\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"L102.!\",\"1/2/11\",\"\",\"\",\"\",\"\",\"Auto\"\n\"S102\",\"1/2/12\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"103\",\"1/3/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"W103.L\",\"1/3/4\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"W103.R\",\"1/3/5\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"T103\",\"1/3/6\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"W103.L?\",\"1/3/7\",\"\",\"\",\"\",\"\",\"Auto\"\n\"W103.R?\",\"1/3/8\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"S103\",\"1/3/11\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"V103\",\"1/3/12\",\"\",\"\",\"\",\"DPST-5-1\",\"Auto\"\n\"S103.?\",\"1/3/18\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"L103.C\",\"1/3/19\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L103.C.?\",\"1/3/20\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L103.C.~\",\"1/3/21\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L103.C.=\",\"1/3/22\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L103.C.!\",\"1/3/23\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L103.L\",\"1/3/24\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L103.L.?\",\"1/3/25\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L103.L.~\",\"1/3/26\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L103.L.=\",\"1/3/27\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L103.L.!\",\"1/3/28\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L103.R\",\"1/3/29\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L103.R.?\",\"1/3/30\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L103.R.~\",\"1/3/31\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L103.R.=\",\"1/3/32\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L103.R.!\",\"1/3/33\",\"\",\"\",\"\",\"\",\"Auto\"\n\"104\",\"1/4/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L104.A\",\"1/4/0\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L104.B\",\"1/4/1\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L104.C\",\"1/4/2\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L104.D\",\"1/4/3\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L104.A~ Front\",\"1/4/4\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L104.B~ Tub\",\"1/4/5\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L104.C~ Window\",\"1/4/6\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L104.D~ Shower\",\"1/4/7\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L104.A?\",\"1/4/8\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L104.B?\",\"1/4/9\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L104.C?\",\"1/4/10\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L104.D?\",\"1/4/11\",\"\",\"\",\"\",\"\",\"Auto\"\n\"P104.Floor\",\"1/4/12\",\"\",\"\",\"\",\"\",\"Auto\"\n\"T104\",\"1/4/13\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"H104\",\"1/4/14\",\"\",\"\",\"\",\"\",\"Auto\"\n\"T104H\",\"1/4/15\",\"\",\"\",\"\",\"\",\"Auto\"\n\"P104.Floor.?\",\"1/4/16\",\"\",\"\",\"\",\"\",\"Auto\"\n\"S104\",\"1/4/17\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"V104.Radiator\",\"1/4/18\",\"\",\"\",\"\",\"DPST-5-1\",\"Auto\"\n\"V104.Floor\",\"1/4/19\",\"\",\"\",\"\",\"DPST-5-1\",\"Auto\"\n\"S104.?\",\"1/4/20\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"L104.A.=\",\"1/4/21\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L104.A.!\",\"1/4/22\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L104.B.=\",\"1/4/23\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L104.B.!\",\"1/4/24\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L104.C.=\",\"1/4/25\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L104.C.!\",\"1/4/26\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L104.D=\",\"1/4/27\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L104.D.!\",\"1/4/28\",\"\",\"\",\"\",\"\",\"Auto\"\n\"M104\",\"1/4/29\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L104.#\",\"1/4/30\",\"\",\"\",\"\",\"\",\"Auto\"\n\"2xx\",\"2/-/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"201\",\"2/0/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"202\",\"2/1/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"T202\",\"2/1/0\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"S202\",\"2/1/1\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"V202\",\"2/1/2\",\"\",\"\",\"\",\"DPST-5-1\",\"Auto\"\n\"L202\",\"2/1/3\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"S202.?\",\"2/1/4\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"L202?\",\"2/1/5\",\"\",\"\",\"\",\"\",\"Auto\"\n\"203\",\"2/2/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"L203\",\"2/2/0\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"L203?\",\"2/2/1\",\"\",\"\",\"\",\"\",\"Auto\"\n\"T203\",\"2/2/2\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"S203\",\"2/2/3\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"V203\",\"2/2/4\",\"\",\"\",\"\",\"DPST-5-1\",\"Auto\"\n\"S203.?\",\"2/2/5\",\"\",\"\",\"\",\"DPST-9-1\",\"Auto\"\n\"M203\",\"2/2/6\",\"\",\"\",\"\",\"\",\"Auto\"\n\"x1x\",\"3/-/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"011\",\"3/0/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"temperature - actual\",\"3/0/0\",\"\",\"\",\"\",\"\",\"Auto\"\n\"012\",\"3/1/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"temperature - actual\",\"3/1/0\",\"\",\"\",\"\",\"\",\"Auto\"\n\"temperatue - actual - 2\",\"3/1/1\",\"\",\"\",\"\",\"\",\"Auto\"\n\"humidity - actual\",\"3/1/2\",\"\",\"\",\"\",\"\",\"Auto\"\n\"test\",\"3/2/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"heizung stellwert even\",\"3/2/0\",\"\",\"\",\"\",\"\",\"Auto\"\n\"heizung stellwert odd\",\"3/2/1\",\"\",\"\",\"\",\"\",\"Auto\"\n\"Outside\",\"4/-/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"Motion\",\"4/0/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"M401\",\"4/0/0\",\"\",\"\",\"Patio\",\"\",\"Auto\"\n\"M402\",\"4/0/1\",\"\",\"\",\"Driveway\",\"\",\"Auto\"\n\"M403\",\"4/0/2\",\"\",\"\",\"North\",\"\",\"Auto\"\n\"M404\",\"4/0/3\",\"\",\"\",\"Compost\",\"\",\"Auto\"\n\"Global\",\"7/-/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"data\",\"7/0/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"time < wiregate\",\"7/0/0\",\"\",\"\",\"\",\"\",\"Auto\"\n\"date < wiregate\",\"7/0/1\",\"\",\"\",\"\",\"\",\"Auto\"\n\"heating\",\"7/1/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"Mode-2xx\",\"7/1/4\",\"\",\"\",\"\",\"\",\"Auto\"\n\"Mode-1xx\",\"7/1/5\",\"\",\"\",\"\",\"\",\"Auto\"\n\"Mode-104-radiator\",\"7/1/6\",\"\",\"\",\"\",\"\",\"Auto\"\n\"Mode-104--floor\",\"7/1/7\",\"\",\"\",\"\",\"\",\"Auto\"\n\"Mode-006-radiator\",\"7/1/8\",\"\",\"\",\"\",\"\",\"Auto\"\n\"Mode-006-floor\",\"7/1/9\",\"\",\"\",\"\",\"\",\"Auto\"\n\"Mode-005\",\"7/1/10\",\"\",\"\",\"\",\"\",\"Auto\"\n\"Mode-0xx\",\"7/1/11\",\"\",\"\",\"\",\"\",\"Auto\"\n\"test\",\"7/2/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"test1\",\"7/2/0\",\"\",\"\",\"\",\"\",\"Auto\"\n\"test2\",\"7/2/1\",\"\",\"\",\"\",\"\",\"Auto\"\n\"test3\",\"7/2/2\",\"\",\"\",\"\",\"\",\"Auto\"\n\"test4\",\"7/2/3\",\"\",\"\",\"\",\"\",\"Auto\"\n\"error\",\"7/3/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"shortcut\",\"7/3/0\",\"\",\"\",\"\",\"\",\"Auto\"\n\"load failure\",\"7/3/1\",\"\",\"\",\"\",\"\",\"Auto\"\n\"load type\",\"7/3/2\",\"\",\"\",\"\",\"\",\"Auto\"\n\"Generic\",\"8/-/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"MDT AKK 16\",\"8/0/-\",\"\",\"\",\"\",\"\",\"Auto\"\n\"001 E\",\"8/0/0\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"001 E?\",\"8/0/1\",\"\",\"\",\"\",\"\",\"Auto\"\n\"001 I\",\"8/0/2\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"001 I?\",\"8/0/3\",\"\",\"\",\"\",\"\",\"Auto\"\n\"001 N\",\"8/0/6\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"001 N?\",\"8/0/7\",\"\",\"\",\"\",\"\",\"Auto\"\n\"001 O\",\"8/0/8\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"001 O?\",\"8/0/9\",\"\",\"\",\"\",\"\",\"Auto\"\n\"007 A\",\"8/0/10\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"007 A?\",\"8/0/11\",\"\",\"\",\"\",\"\",\"Auto\"\n\"007 B\",\"8/0/12\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"007 B?\",\"8/0/13\",\"\",\"\",\"\",\"\",\"Auto\"\n\"007 E\",\"8/0/14\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"007 E?\",\"8/0/15\",\"\",\"\",\"\",\"\",\"Auto\"\n\"007 F\",\"8/0/16\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"007 F?\",\"8/0/17\",\"\",\"\",\"\",\"\",\"Auto\"\n\"007 G\",\"8/0/18\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"007 G?\",\"8/0/19\",\"\",\"\",\"\",\"\",\"Auto\"\n\"007 H\",\"8/0/20\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"007 H?\",\"8/0/21\",\"\",\"\",\"\",\"\",\"Auto\"\n\"007 J\",\"8/0/22\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"007 J?\",\"8/0/23\",\"\",\"\",\"\",\"\",\"Auto\"\n\"007 M\",\"8/0/24\",\"\",\"\",\"\",\"\",\"Auto\"\n\"007 M?\",\"8/0/25\",\"\",\"\",\"\",\"\",\"Auto\"\n\"007 N\",\"8/0/26\",\"\",\"\",\"\",\"\",\"Auto\"\n\"007 N?\",\"8/0/27\",\"\",\"\",\"\",\"\",\"Auto\"\n\"100 A\",\"8/0/28\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"100 A?\",\"8/0/29\",\"\",\"\",\"\",\"\",\"Auto\"\n\"100 C\",\"8/0/30\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"100 C?\",\"8/0/31\",\"\",\"\",\"\",\"\",\"Auto\"\n\"100 I\",\"8/0/32\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"100 I?\",\"8/0/33\",\"\",\"\",\"\",\"\",\"Auto\"\n\"100 J\",\"8/0/34\",\"\",\"\",\"\",\"DPST-1-1\",\"Auto\"\n\"100 J?\",\"8/0/35\",\"\",\"\",\"\",\"\",\"Auto\"\n"},{"id":"e2b44801.c0b2a8","type":"mqtt-broker","z":"","name":"Kaag","broker":"10.32.0.4","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f6987a72.e58c88","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#ce3300","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#ce3300","edited":true},"page-titlebar-backgroundColor":{"value":"#ce3300","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#ff541b","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#ce3300","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"26eca55e.08caca","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"c08fdafd.fec5a","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"6497ee29.6131f8","type":"ui_group","z":"","name":"uigroup","tab":"c08fdafd.fec5a","disp":true,"width":"6","collapse":false},{"id":"b2cdccf7.2666f","type":"uibuilder","z":"bb18a7c8.dc0378","name":"UI","topic":"","url":"lbw","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"debugFE":false,"copyIndex":false,"x":630,"y":480,"wires":[["36960cc4.7959b4"],["f2737e03.77519"]]},{"id":"7bd0a81e.1a6038","type":"inject","z":"f26c6b39.8f1b88","name":"On","topic":"thema?","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":120,"wires":[["f518de8e.d0a14"]]},{"id":"3d8bc55b.a00c9a","type":"inject","z":"f26c6b39.8f1b88","name":"Off","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":160,"wires":[["f518de8e.d0a14"]]},{"id":"f518de8e.d0a14","type":"knx-device","z":"f26c6b39.8f1b88","controller":"e8b3a3ac.dc561","mode":"csv","groupaddresses":"dc5df6c5.18acb8","name":"L202","groupaddress":"2/1/3","statusga":"2/1/5","dpt":"DPT1","x":280,"y":140,"wires":[[]]},{"id":"9534d51.6886b28","type":"openweathermap","z":"313a69d4.d33766","name":"Noordwijk","wtype":"current","lon":"4.437749","lat":"52.233536","city":"","country":"","language":"en","x":440,"y":240,"wires":[["c876e2d3.6824"]]},{"id":"c876e2d3.6824","type":"change","z":"313a69d4.d33766","name":"topic: weather","rules":[{"t":"set","p":"topic","pt":"msg","to":"weather","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":260,"wires":[["90be518a.da89"]]},{"id":"9a1ef377.66ae5","type":"openweathermap in","z":"313a69d4.d33766","name":"Noordwijk","wtype":"current","lon":"","lat":"","city":"Noordwijk","country":"Netherlands","language":"en","x":440,"y":280,"wires":[["c876e2d3.6824"]]},{"id":"ee281585.622d88","type":"subflow:313a69d4.d33766","z":"bb18a7c8.dc0378","name":"","x":460,"y":480,"wires":[["b2cdccf7.2666f"],["22e2f24b.b2552e"]]},{"id":"1308b833.5ae4f8","type":"inject","z":"313a69d4.d33766","name":"init","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":310,"y":240,"wires":[["9534d51.6886b28"]]},{"id":"5a4c7512.71e7dc","type":"function","z":"826b517.3b25bb","name":"replay buffer","func":"var buffer = flow.get(\"buffer\");\n\nvar msgs = [];\n\nfor (var name in buffer){\n    node.send({topic: \"dpt\", payload: buffer[name]})\n}\n","outputs":1,"noerr":0,"x":570,"y":40,"wires":[[]]},{"id":"55ff544d.951b9c","type":"filter","z":"826b517.3b25bb","name":"knx replay","property":"uibuilderCtrl","propertyType":"msg","asArray":false,"itemProperty":"payload","itemPropertyType":"item","rules":[{"t":"eq","v":"knx replay","vt":"str","output":1}],"checkall":"true","outputs":1,"x":230,"y":40,"wires":[["5b44ecc2.4ee654"]]},{"id":"5b44ecc2.4ee654","type":"delay","z":"826b517.3b25bb","name":"only once","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":400,"y":40,"wires":[["5a4c7512.71e7dc"]]},{"id":"42cb3a20.c0daa4","type":"change","z":"826b517.3b25bb","name":"topic: GA","rules":[{"t":"set","p":"topic","pt":"msg","to":"GA","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":380,"wires":[[]]},{"id":"c389ca63.764b08","type":"delay","z":"826b517.3b25bb","name":"only once","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":420,"y":260,"wires":[["d77cfed.9b1fc"]]},{"id":"d0d8bd5c.469cc","type":"filter","z":"826b517.3b25bb","name":"ready for content","property":"uibuilderCtrl","propertyType":"msg","asArray":false,"itemProperty":"payload","itemPropertyType":"item","rules":[{"t":"eq","v":"ready for content","vt":"str","output":1}],"checkall":"true","outputs":1,"x":210,"y":280,"wires":[["c389ca63.764b08"]]},{"id":"84bc25d1.cf3938","type":"csv","z":"826b517.3b25bb","name":"","sep":",","hdrin":"","hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":"0","x":410,"y":340,"wires":[["eda48374.21395"]]},{"id":"eda48374.21395","type":"function","z":"826b517.3b25bb","name":"analyze ga data","func":"var name, dpt, match, trade, room, subname, dimming, value, szene, status, reply;\nvar guess_dpt;\n\nvalid_ga   = /\\d+\\/\\d+\\/\\d+/;\nparse_name = /(\\w)(\\d\\d\\d)\\.*([\\w\\d]*)\\.*([~=\\?#!]*)/;\n\nga_catalog = {};\n\n\nmsg.payload.map( function(item) {\n    var ga = item[\"col2\"]\n    \n    if (valid_ga.exec(ga)) {\n        \n        name    = item[\"col1\"];\n        dpt     = item[\"col6\"];\n        \n        match = parse_name.exec(name) \n        \n        if ( match ) {\n\n            trade   = match[1];\n            room    = match[2];\n            subname = match[3];\n            dimming = /~/.test(match[4]);\n            value   = /=/.test(match[4]);\n            szene   = /#/.test(match[4]);\n            status  = /\\?/.test(match[4]);\n            reply   = /!/.test(match[4]);\n    \n            if (typeof dpt === \"undefined\" || dpt === null) {\n                guess_dpt = (function() {\n                    switch (trade) {\n                        case \"L\":\n                            if (dimming) { \n                                return \"3-7\";\n                            } else if (value || reply) {\n                                return \"5-1\";\n                            } else if (szene) {\n                                return \"18-1\";\n                            } else {\n                                return \"1-1\";\n                            }\n                            break;\n                        case \"W\":\n                            return \"1-1\";\n                        case \"M\":\n                            return \"1-1\";\n                        case \"T\":\n                            return \"9-1\"\n                        case \"H\":\n                            return \"9-7\"\n                        default: \n                            return false;\n                    }\n                })();\n                if (guess_dpt) {\n                    dpt = \"DPST-\" + guess_dpt;\n                }\n                \n            }\n        }\n\n        \n        match = parse_name.exec(name);\n\n        if (match) {\n            ga_catalog[ga] = {  trade:      trade,\n                                room:       room,\n                                subname:    subname,\n                                name:       name,\n                                dpt:        dpt,\n                                dimming:    dimming,\n                                value:      value,\n                                szene:      szene,\n                                status:     status,\n                                reply:      reply\n            };\n        }\n    }\n\n})\n\nnewMsg = {};\nnewMsg.payload = {\n        ga_catalog: ga_catalog\n    }\nreturn newMsg;","outputs":1,"noerr":0,"x":440,"y":380,"wires":[["f962e684.49d518","42cb3a20.c0daa4"]]},{"id":"ca9154c9.5a0ae8","type":"inject","z":"826b517.3b25bb","name":"Init","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":250,"y":240,"wires":[["c389ca63.764b08"]]},{"id":"d77cfed.9b1fc","type":"file in","z":"826b517.3b25bb","name":"GA.csv","filename":"/home/boris/.node-red/ets5/ga.csv","format":"utf8","chunk":false,"sendError":false,"x":420,"y":300,"wires":[["84bc25d1.cf3938"]]},{"id":"f962e684.49d518","type":"function","z":"826b517.3b25bb","name":"extract names and dpts","func":"var data  = msg.payload.ga_catalog;\n\nvar names = {}\nvar dpt   = {}\nvar ga;\n\nfor (ga in data) {\n    names[ga] = data[ga].name\n    dpt[ga]   = data[ga].dpt\n}\n\nnewMsg = {};\nnewMsg.payload = {\n        names: names, dpts: dpt\n    }\nreturn newMsg;","outputs":1,"noerr":0,"x":470,"y":420,"wires":[["fe221bde.dbb7a8"]]},{"id":"fe221bde.dbb7a8","type":"function","z":"826b517.3b25bb","name":"save global","func":"for (var property in msg.payload) {\n    value = msg.payload[property];\n    global.set(property, value);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":460,"wires":[[]]},{"id":"36960cc4.7959b4","type":"knx-out","z":"bb18a7c8.dc0378","name":"Tx","controller":"e8b3a3ac.dc561","x":810,"y":480,"wires":[]},{"id":"3de6e0d5.683e7","type":"filter","z":"313a69d4.d33766","name":"hasValue?","property":"payload.value","propertyType":"msg","asArray":false,"itemProperty":"payload","itemPropertyType":"item","rules":[{"t":"nnull","output":1}],"checkall":"true","outputs":1,"x":450,"y":60,"wires":[["e30a08fc.4063d8"]]},{"id":"e30a08fc.4063d8","type":"function","z":"313a69d4.d33766","name":"KNX to Number / Unit","func":"// see node_modules/knx/src/dptlib\n\n\nfunction ldexp(mantissa, exponent) {\n   return exponent > 1023  ? mantissa * Math.pow(2, 1023) * Math.pow(2, exponent - 1023)\n        : exponent < -1074 ? mantissa * Math.pow(2, -1074) * Math.pow(2, exponent + 1074)\n        : mantissa * Math.pow(2, exponent);\n}\n\nvar newMsg = {};\n\n\nnewMsg.payload = {\n    name: global.get(\"names\")[ msg.payload.dstgad ],\n    ga:   msg.payload.dstgad\n};\n\nnewMsg.payload.timestamp = Date.now();\n\nvar dpt = global.get(\"dpts\")[  msg.payload.dstgad ];\n\n// var dpt = typeof ets5dpt !== \"undefined\" && ets5dpt !== null ? ets5dpt : \"DPST-5-1\";\n\n\n\nvar buf = msg.payload.value;\n\n\nswitch(dpt) {\n    case \"DPST-1-1\":\n        newMsg.payload.number = buf[0] !== 0;\n        newMsg.payload.unit   = \"(bool)\";\n        newMsg.payload.dpst   = \"1-1\";\n        newMsg.topic          = \"dpt\";\n        break;\n    case \"DPST-5-1\":\n        newMsg.payload.number = buf[0]/2.55;\n        newMsg.payload.unit   = \"%\";\n        newMsg.payload.dpst   = \"5-1\"\n        newMsg.topic          = \"dpt\";\n        break;\n    case \"DPST-9-1\":\n        var sign     =  buf[0] >> 7;\n        var exponent = (buf[0] & 0b01111000) >> 3;\n        var mantissa = 256 * (buf[0] & 0b00000111) + buf[1];\n        mantissa = (sign == 1) ? ~(mantissa^2047) : mantissa;\n\n        newMsg.payload.number = ldexp((0.01*mantissa), exponent);\n        \n        newMsg.payload.unit   = \"°C\"\n        newMsg.payload.dpst   = \"9-1\"\n        newMsg.topic          = \"dpt\";\n        break;\n    default:\n}\n\n\n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":640,"y":60,"wires":[["cc907b0.5fdc488","773c2dc4.d48c24"]]},{"id":"cc907b0.5fdc488","type":"function","z":"313a69d4.d33766","name":"buffer save","func":"var buffer = global.get(\"buffer\");\n\nif (typeof(buffer) == 'undefined') {\n    buffer = {}\n}\n\nbuffer[msg.payload.name] = msg.payload;\n\nglobal.set(\"buffer\", buffer);\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":100,"wires":[[]]},{"id":"fc852420.2b5008","type":"knx-in","z":"313a69d4.d33766","name":"Rx","controller":"e8b3a3ac.dc561","x":310,"y":60,"wires":[["3de6e0d5.683e7"]]},{"id":"fce16a7d.ff4c78","type":"comment","z":"313a69d4.d33766","name":"KNX","info":"","x":130,"y":60,"wires":[]},{"id":"6e976c4c.30b3e4","type":"comment","z":"313a69d4.d33766","name":"Weather","info":"","x":140,"y":240,"wires":[]},{"id":"b759ed24.60b3b","type":"comment","z":"313a69d4.d33766","name":"Schaaf","info":"","x":130,"y":400,"wires":[]},{"id":"ffbf0f65.dc4e3","type":"link in","z":"313a69d4.d33766","name":"out","links":["773c2dc4.d48c24","90be518a.da89","40ade3.6bf6621c","2bb90ba2.f24754","e1f8c075.82093"],"x":915,"y":60,"wires":[[]]},{"id":"90be518a.da89","type":"link out","z":"313a69d4.d33766","name":"out","links":["ffbf0f65.dc4e3"],"x":795,"y":260,"wires":[]},{"id":"40ade3.6bf6621c","type":"link out","z":"313a69d4.d33766","name":"out","links":["ffbf0f65.dc4e3"],"x":815,"y":380,"wires":[]},{"id":"88491a0e.a56478","type":"function","z":"1ecb0c56.2fad94","name":"replay buffer","func":"var buffer = global.get(\"buffer\");\n\nvar msgs = [];\n\nfor (var name in buffer){\n    node.send({topic: \"dpt\", payload: buffer[name]})\n}\n","outputs":1,"noerr":0,"x":810,"y":100,"wires":[["ac274f81.9d5ca"]]},{"id":"7bc1dadf.3ea3e4","type":"filter","z":"1ecb0c56.2fad94","name":"knx replay","property":"uibuilderCtrl","propertyType":"msg","asArray":false,"itemProperty":"payload","itemPropertyType":"item","rules":[{"t":"eq","v":"knx replay","vt":"str","output":1}],"checkall":"true","outputs":1,"x":470,"y":100,"wires":[["1c41d5cf.951e4a"]]},{"id":"1c41d5cf.951e4a","type":"delay","z":"1ecb0c56.2fad94","name":"only once","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":640,"y":100,"wires":[["88491a0e.a56478"]]},{"id":"d3b6a764.ffa5b8","type":"change","z":"1ecb0c56.2fad94","name":"topic: GA","rules":[{"t":"set","p":"topic","pt":"msg","to":"GA","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":420,"wires":[["1a22d11f.1fbfef"]]},{"id":"2ff7ecc8.a8f704","type":"delay","z":"1ecb0c56.2fad94","name":"only once","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":700,"y":300,"wires":[["50f1306c.8fae9"]]},{"id":"84d839ab.1965c8","type":"filter","z":"1ecb0c56.2fad94","name":"ready for content","property":"uibuilderCtrl","propertyType":"msg","asArray":false,"itemProperty":"payload","itemPropertyType":"item","rules":[{"t":"eq","v":"ready for content","vt":"str","output":1}],"checkall":"true","outputs":1,"x":490,"y":320,"wires":[["2ff7ecc8.a8f704"]]},{"id":"643c33e3.fce51c","type":"csv","z":"1ecb0c56.2fad94","name":"","sep":",","hdrin":"","hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":"0","x":690,"y":380,"wires":[["323d68ee.dac4b8"]]},{"id":"323d68ee.dac4b8","type":"function","z":"1ecb0c56.2fad94","name":"analyze ga data","func":"var name, dpt, match, trade, room, subname, dimming, value, szene, status, reply;\nvar guess_dpt;\n\nvalid_ga   = /\\d+\\/\\d+\\/\\d+/;\nparse_name = /(\\w)(\\d\\d\\d)\\.*([\\w\\d]*)\\.*([~=\\?#!]*)/;\n\nga_catalog = {};\n\n\nmsg.payload.map( function(item) {\n    var ga = item[\"col2\"]\n    \n    if (valid_ga.exec(ga)) {\n        \n        name    = item[\"col1\"];\n        dpt     = item[\"col6\"];\n        \n        match = parse_name.exec(name) \n        \n        if ( match ) {\n\n            trade   = match[1];\n            room    = match[2];\n            subname = match[3];\n            dimming = /~/.test(match[4]);\n            value   = /=/.test(match[4]);\n            szene   = /#/.test(match[4]);\n            status  = /\\?/.test(match[4]);\n            reply   = /!/.test(match[4]);\n    \n            if (typeof dpt === \"undefined\" || dpt === null) {\n                guess_dpt = (function() {\n                    switch (trade) {\n                        case \"L\":\n                            if (dimming) { \n                                return \"3-7\";\n                            } else if (value || reply) {\n                                return \"5-1\";\n                            } else if (szene) {\n                                return \"18-1\";\n                            } else {\n                                return \"1-1\";\n                            }\n                            break;\n                        case \"W\":\n                            return \"1-1\";\n                        case \"M\":\n                            return \"1-1\";\n                        case \"T\":\n                            return \"9-1\"\n                        case \"H\":\n                            return \"9-7\"\n                        default: \n                            return false;\n                    }\n                })();\n                if (guess_dpt) {\n                    dpt = \"DPST-\" + guess_dpt;\n                }\n                \n            }\n        }\n\n        \n        match = parse_name.exec(name);\n\n        if (match) {\n            ga_catalog[ga] = {  trade:      trade,\n                                room:       room,\n                                subname:    subname,\n                                name:       name,\n                                dpt:        dpt,\n                                dimming:    dimming,\n                                value:      value,\n                                szene:      szene,\n                                status:     status,\n                                reply:      reply\n            };\n        }\n    }\n\n})\n\nnewMsg = {};\nnewMsg.payload = {\n        ga_catalog: ga_catalog\n    }\nreturn newMsg;","outputs":1,"noerr":0,"x":720,"y":420,"wires":[["48cb2e4e.7dac5","d3b6a764.ffa5b8"]]},{"id":"3d9ac859.032338","type":"inject","z":"1ecb0c56.2fad94","name":"Init","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":530,"y":280,"wires":[["2ff7ecc8.a8f704"]]},{"id":"50f1306c.8fae9","type":"file in","z":"1ecb0c56.2fad94","name":"GA.csv","filename":"/home/boris/.node-red/ets5/ga.csv","format":"utf8","chunk":false,"sendError":false,"x":700,"y":340,"wires":[["643c33e3.fce51c"]]},{"id":"48cb2e4e.7dac5","type":"function","z":"1ecb0c56.2fad94","name":"extract names and dpts","func":"var data  = msg.payload.ga_catalog;\n\nvar names = {}\nvar dpt   = {}\nvar ga;\n\nfor (ga in data) {\n    names[ga] = data[ga].name\n    dpt[ga]   = data[ga].dpt\n}\n\nnewMsg = {};\nnewMsg.payload = {\n        names: names, dpts: dpt\n    }\nreturn newMsg;","outputs":1,"noerr":0,"x":750,"y":460,"wires":[["a7bccca1.58b5d"]]},{"id":"a7bccca1.58b5d","type":"function","z":"1ecb0c56.2fad94","name":"save global","func":"for (var property in msg.payload) {\n    value = msg.payload[property];\n    global.set(property, value);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":500,"wires":[[]]},{"id":"65cdba0c.18f734","type":"comment","z":"1ecb0c56.2fad94","name":"KNX replay buffer","info":"","x":160,"y":100,"wires":[]},{"id":"fdf6107a.4b2a7","type":"comment","z":"1ecb0c56.2fad94","name":"GA configuration","info":"","x":160,"y":320,"wires":[]},{"id":"80aa1f0e.2944c","type":"link out","z":"1ecb0c56.2fad94","name":"in","links":["c838efdc.3bda2","3b3e8cbb.b7a744"],"x":255,"y":20,"wires":[]},{"id":"c838efdc.3bda2","type":"link in","z":"1ecb0c56.2fad94","name":"in","links":["80aa1f0e.2944c"],"x":335,"y":100,"wires":[["7bc1dadf.3ea3e4"]]},{"id":"3b3e8cbb.b7a744","type":"link in","z":"1ecb0c56.2fad94","name":"in","links":["80aa1f0e.2944c"],"x":335,"y":320,"wires":[["84d839ab.1965c8"]]},{"id":"e8e0a1d4.5f5e2","type":"link in","z":"1ecb0c56.2fad94","name":"out","links":["ac274f81.9d5ca","1a22d11f.1fbfef"],"x":1135,"y":20,"wires":[[]]},{"id":"ac274f81.9d5ca","type":"link out","z":"1ecb0c56.2fad94","name":"","links":["e8e0a1d4.5f5e2"],"x":995,"y":100,"wires":[]},{"id":"1a22d11f.1fbfef","type":"link out","z":"1ecb0c56.2fad94","name":"","links":["e8e0a1d4.5f5e2"],"x":1115,"y":420,"wires":[]},{"id":"f2737e03.77519","type":"subflow:1ecb0c56.2fad94","z":"bb18a7c8.dc0378","name":"","x":450,"y":540,"wires":[["b2cdccf7.2666f"]]},{"id":"773c2dc4.d48c24","type":"link out","z":"313a69d4.d33766","name":"out","links":["ffbf0f65.dc4e3"],"x":815,"y":60,"wires":[]},{"id":"5b4b1fa3.c9c2b","type":"comment","z":"313a69d4.d33766","name":"localhost:1880/lbw","info":"","x":1130,"y":60,"wires":[]},{"id":"7d433f10.c544b","type":"comment","z":"1ecb0c56.2fad94","name":"localhost:1880/lbw","info":"","x":1330,"y":20,"wires":[]},{"id":"48b7167.61310e8","type":"comment","z":"1ecb0c56.2fad94","name":"localhost:1880/lbw","info":"","x":90,"y":20,"wires":[]},{"id":"8922bdf7.dcc64","type":"http in","z":"f26c6b39.8f1b88","name":"Schaaf","url":"/schaaf","method":"get","upload":false,"swaggerDoc":"","x":290,"y":600,"wires":[["1c61f6e5.fc9449","3b762341.2a183c"]]},{"id":"1c61f6e5.fc9449","type":"template","z":"f26c6b39.8f1b88","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello World!</h1>\n    </body>\n</html>","x":290,"y":640,"wires":[["3323d0c0.bfdc5"]]},{"id":"3323d0c0.bfdc5","type":"http response","z":"f26c6b39.8f1b88","name":"Schaaf","statusCode":"","headers":{},"x":300,"y":680,"wires":[]},{"id":"3b762341.2a183c","type":"change","z":"f26c6b39.8f1b88","name":"topic: sheep","rules":[{"t":"set","p":"topic","pt":"msg","to":"sheep","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":600,"wires":[["11f595c8.84809a"]]},{"id":"11f595c8.84809a","type":"debug","z":"f26c6b39.8f1b88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":800,"y":600,"wires":[]},{"id":"5fee027b.acdeec","type":"mqtt in","z":"313a69d4.d33766","name":"Schaaf","topic":"schaaf/#","qos":"2","broker":"e2b44801.c0b2a8","x":310,"y":400,"wires":[["22b50a8e.11bf96"]]},{"id":"4c33d870.8f18a8","type":"comment","z":"313a69d4.d33766","name":"(debug)","info":"","x":890,"y":540,"wires":[]},{"id":"22e2f24b.b2552e","type":"debug","z":"bb18a7c8.dc0378","name":"schaaf dbg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":720,"y":620,"wires":[]},{"id":"22b50a8e.11bf96","type":"function","z":"313a69d4.d33766","name":"topic/channel","func":"var value   = msg.payload;\nvar channel = msg.topic.split(\"/\");\nvar topic   = channel.shift();\n\nmsg = { \n        \"topic\":    topic,\n        \"payload\":  {\n            \"channel\": channel,\n            \"value\":    value\n            }\n        }\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":400,"wires":[["40ade3.6bf6621c"]]},{"id":"323abeec.70e582","type":"ui_ui_control","z":"8bc82941.509678","name":"","x":440,"y":480,"wires":[[]]},{"id":"9cf283a6.ccc608","type":"ui_colour_picker","z":"8bc82941.509678","name":"","label":"","group":"6497ee29.6131f8","format":"hex","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"dynOutput":"false","order":0,"width":0,"height":0,"passthru":true,"topic":"","x":260,"y":380,"wires":[[]]},{"id":"37cc980d.f225b","type":"ui_text","z":"8bc82941.509678","group":"6497ee29.6131f8","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":520,"y":320,"wires":[]},{"id":"a4f4ebf5.7f3c28","type":"inject","z":"8bc82941.509678","name":"","topic":"","payload":"Moin!","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":280,"wires":[["37cc980d.f225b"]]},{"id":"8a765b2b.77981","type":"comment","z":"bb18a7c8.dc0378","name":"http://localhost:1880/lbw","info":"","x":460,"y":360,"wires":[]},{"id":"152ac956.fe858f","type":"inject","z":"bb18a7c8.dc0378","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":300,"wires":[["ee281585.622d88"]]}]